%hr

.panel.panel-default.marg-top
  .panel-heading
    %h3.panel-title.text-default= title
  .panel-body  
    #grouping
      = f.simple_fields_for grouping do |member| 
        = render 'people_fields', {:f => member}
      
      .text-center
        = link_to_add_association(('<i class="fa fa-plus"></i> Add Person').html_safe, f, grouping, :partial => 'people_fields', :force_non_association_create => true, :class => 'btn btn-primary')
  
