= render_cell "tb/form/subhead", :display, :label => title

= f.fields_for grouping do |member|
  = render 'people_fields', {:f => member}

  :erb
    <div class="form-group">
      <div class="col-md-3 control-label">&nbsp;</div>
      <div class="col-md-7">
        <%= link_to_add_association 'Add another person', f, grouping, :partial => 'people_fields', :force_non_association_create => true, :class => 'btn btn-default btn-xs' %>
      </div>
    </div>