.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'campaigns/management_navigation', :active => :people, :campaign => @campaign
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          = render 'campaigns/title', :active => :company, :campaign => @campaign, :title => 'Team'
          
          = render 'form'

:javascript
  $('#main-content').on('cocoon:after-insert', function(e, insertedItem) {
    insertedItem.children().find('.ckeditor').ckeditor()
  });