%a#subscription.investment-flow{:href => new_campaign_investment_subscription_agreement_path(@campaign, @investment)}
  .row
    %label Confirm your subscription agreement
    %span.investment-flow-status{:class => @investment.subscription_agreement.try(:status)}=  @investment.subscription_agreement.try(:status)
  .investment-flow-description Sign up for your subscription agreement.
  .investment-start
    = link_to 'Start', edit_campaign_investment_subscription_agreement_path(@campaign, @investment)
