#dashboard.container
  .row
    .col-md-8
      .dashboard-content
        = render 'campaigns'
        = render 'investor_signings'

        = link_to 'Create a campaign', issuer_dashboard_create_campaign_path

    .col-md-4.dashboard-right
      .dashboard-content
        %h2 Recent Activities
        %hr