<div class="form-group">
  <%= label_tag @field, nil, :class => "col-md-4 control-label" %>
  <div class="col-md-8">
    <%- @values.each do |value| %>
        <label class="radio-inline" for="<%= @field %>">
          <%= @form.radio_button @field, @value %>
          <%= value %>
        </label>
    <%- end %>
  </div>
</div>
