.container.dashboard.investor-dashboard
  %h3 Issuer
  .row-fluid
    .news-section.col-md-8.col-xs-12
      .campaigns
        %h3 Campaigns
      .analytics
        %h3 Analytics
    .col-md-4.col-xs-12
      .personal
        Profile