// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cover.row{
	margin: 0;
}

#cover.jumbotron{
	margin: 0;
}

#cover{
	padding: 0;
	min-height: 400px;
	background: image-url('home/cover2.jpg') repeat;
	overflow: hidden;

	.container{
		margin: auto auto;
		background-color: rgba(0, 0, 0, 0.4);
		color: #ffffff;
		position: relative;
		top: 70px;
	}

	.bottom{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		top: calc(100% - 71px);
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;

		.container{
			line-height: 150%;
			padding: 0;
		}
	}
}

#active{
	.campaign-group-title{
		background-color: #5dade2;
	}
}

#successful{
	.campaign-group-title{
		background-color: #2ECC71;
	}
}

.campaign-group-title{
	color: white;
	height: 50px;

	.row div{
		height: 100%;
	}

	h3{
		margin-top: 14px;
		font-size: 20px;
		font-weight: normal;
	}

	a{
		margin-top: 15px;
		color: white;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		text-align: right;
		font-size: 14px;
		vertical-align: center;
	}

	a:hover{
		color: white;
		text-decoration: none;
	}
}

.campaign-row-section{
	background-color: #EEF2EA;

	.homepage-featured-campaigns{
		.col-md-4.outline{
			margin: 10px 15px 10px;
			border-radius: 0;
			border: none;
			display: block;
			width: 300px;
			min-height: 405px;
			max-height: 405px;
			overflow: none;
			//box-shadow: 0px 0px 2px #BDC3C7;
			padding: 5px;

			.company-title{
				h4{
					display: block;
					height: 38px;
					margin: 5px 0 5px;
					text-transform: uppercase;
					font-weight: 200;
					overflow: hidden;

					a:hover{
						text-decoration: none;
					}
				}
			}

			.company-short-description{
				display: block;
				height: 110px;
				max-height: 110px;
				overflow: hidden;
				font-size: 12px;
			}

			.img-campaign{
				width: 290px;
				height: 180px;
			}

			.company-goal{
				thead td{
					font-weight: bold;
					font-size: 12px;
				}

				tbody{
					font-weight: 100;
					td{
						color: #75796F
					}
				}

				.progress{
					margin: 5px 0 5px;
				}

			}

			.progress.active{
				height: 8px;
			}
		}
	}
}


#videoModal{
	.modal-dialog{
		width: 80%;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.modal-body{
		padding: 0;
	}
}

#video-trailer{
	width: 100%;
	min-height: 500px;
	max-height: 500px;
	margin-left: 0;
	margin-right: 0;

	.col-md-12{
		padding: 0;
	}

	.jumbotron{
		display: block;
		padding: 0;
		max-height: 718px;
	}

	.container-bg{
		overflow: hidden;
		height: 500px;
	}

	.container-bg-overlay{
		width: 100%;
		height: 100%;
		background: image-url('home/video-bg.jpg') center center;
		background-size: cover;
		opacity: .5;
		z-index: 1;
		position: absolute;
		top: 0;
	}

	.container-bg-text{
		width: 100%;
		z-index: 2;
		position: absolute;
		top: 150px;
		color: white;

		img{
			width: 75px;
			height: 75px;
		}
	}

	.video-wrapper{
		display: none;
		width: 100%;
		position: absolute;
		top: -30px;
		overflow: hidden;
		height: 500px;

	}
}

#how-it-works{
	height: 241px;

	.col-md-12{
		background: image-url('home/cover.jpg') repeat;
	}


	.jumbotron{
		background-color: rgba(2, 2, 28, 0.7);
		box-shadow: 0 0 100px 50px black inset;

		.container{
			opacity: 1.3;
		}
	}

	color: white;
}

#feature{
	background-color: #1ABC9C;
	opacity: 0.8;
	display: block;
	min-height: 120px;

}

