// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead {
  background: image-url('home/pretty.jpg') left top no-repeat darken($white, 20%);
  
  @media (min-width: $screen-sm-min) {
    background: {size: cover; position: center top;}
    min-height: 600px;
  }

  > .inner {
    padding: 30px 0;
    
    @media (min-width: $screen-sm-min) {
      padding: 60px 0;
    }
  }
  
  .left-info { text-align: center;
    @media (min-width: $screen-sm-min) {
      margin-top: 40px;
      width: 40%;
    }
    
    .triangle-img { 
      margin-bottom: 60px;
      
      > img {
        left: 6px;
        margin: 0 auto;
        position: relative; 
      }
    }
    
    .btn {
      max-width: 100%;
      width: 250px;
      
      .fa {
        display: inline;
        font-size: 32px;
        line-height: 0;
        margin-right: 10px;
        position: relative;
        text-shadow: 0px -1px 1px rgba($black, .7);
        top: 5px;
      }
    }
  }
}

.horizontal-separator {  
  border-top: 1px solid #e5e5e5;
  color: $black;  
  font: {size: 16px; weight: 400; style: italic;}
  margin: 30px -8px 15px;
  text-align: center;
  
  > .inner {
    background-color: $white;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    top: -13px;
    z-index: 1;
  }
}

.video-trailer-wrapper {
  background: $black;
  height: 0;
  overflow: hidden;
  padding-top: 56%;
  position: relative;
  
  .toggle-volume {
    position: absolute;
    color: $white;
    @include opacity(.8);
    z-index: 3;
    font-size: 34px;
    top: 10px;
    right: 12px;
    text-shadow: 1px 1px rgba($black, .5);
    
    .mute { position: relative; right: 8px;
      .fa-times { position: absolute; right: 0; top: 36%; font-size: 40%; }
    }
    .unmute { display: none; }
    
    &:hover, &:focus { @include opacity(1); }
    
    &.active {
      .mute { display: none; }
      .unmute { display: inline; }
    }
  }
  
  video, iframe {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .overlay-bg {
    background: image-url('home/video-bg.jpg') center center;
    background-size: cover;
    height: 100%;
    left: 0;
    @include opacity(.5);
    position: absolute;
    top: 0;
    @include transition(all .3s);
    width: 100%;
    z-index: 2;
  }
  
  @media (min-width: $screen-sm-min) {
    padding-top: 37%;
    
    video, iframe {
      top: -15%;
    }
  }
}

.no-video .video-trailer-wrapper { display: none; }

#active{
	.campaign-group-title{
		// background-color: #5dade2;
	}
}

#successful{
	.campaign-group-title{
		//background-color: #2ECC71;
	}
}

.campaign-row-section{
	// background-color: #f8f8f8;

	.homepage-featured-campaigns{
		.col-md-4.outline{
			margin: 30px 15px 30px;
			border-radius: 0px;
			border: 1px solid #f8f8f8;
			box-shadow: none;
			display: block;
			width: 300px;
			min-height: 425px;
			max-height: 425px;
			overflow: none;
			padding: 0px;

			.company-title{
				h4{
					display: block;
					height: 38px;
					margin: 5px 0 5px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 500;
					font-size: 16px;
					overflow: hidden;
					color: rgba(0, 0, 0, 0.79);
					text-align: left;
					line-height: 20px;

					a{
						display: block;
						width: 100%;
						color: rgba(0, 0, 0, 0.79);
					}

					a:hover{
						color: rgba(0, 0, 0, 0.79);
						text-decoration: none;
					}
				}
			}

			.company-short-description{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				font-weight: 100;
				line-height: 20px;
				color: rgba(0, 0, 0, 0.5);
				display: block;
				height: 110px;
				max-height: 110px;
				overflow: hidden;
			}

			.img-campaign{
				// border-top-left-radius: 2px;
				// border-top-right-radius: 2px;
				width: 298px;
				height: 200px;
			}

			.company-title, .company-short-description, .company-goal{
				padding-left: 5px;
				padding-right: 5px;
			}

			.company-goal{
				color: #777777;
				font-size: 12px;
				.campaign-cell-number{
					text-align: center;
					font-weight: 600;
				}

				.campaign-cell-title{
					font-family: 'Nixie One', Georgia, Helvetica Nueue, Helvetica, Arial, serif, cursive;
					text-align: center;
					font-weight: 100;
				}

				.progress{
					margin: 5px 0 5px 0;
				}

			}

			.progress.active{
				height: 10px;
			}
		}
	}
}


#videoModal{
	.modal-dialog{
		width: 80%;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.modal-body{
		padding: 0;
	}
}

#video-trailer{
	width: 100%;
	min-height: 500px;
	max-height: 500px;
	margin-left: 0;
	margin-right: 0;

	.col-md-12{
		padding: 0;
	}

	.jumbotron{
		display: block;
		padding: 0;
		max-height: 718px;
		margin-bottom: 0;
	}

	.container-bg{
		overflow: hidden;
		height: 500px;
	}

	.container-bg-overlay{
		width: 100%;
		height: 100%;
		background: image-url('home/video-bg.jpg') center center;
		background-size: cover;
		opacity: .5;
		z-index: 1;
		position: absolute;
		top: 0;
	}

	.container-bg-text{
		width: 100%;
		z-index: 2;
		position: absolute;
		top: 150px;
		color: white;

		img{
			width: 75px;
			height: 75px;
		}
	}

	.video-wrapper{
		display: none;
		width: 100%;
		position: absolute;
		top: 0px;
		overflow: hidden;
		height: 500px;

	}
}

#how-it-works{
	height: 241px;
	margin: 0;

	.col-md-12{
		padding: 0;
		background: image-url('home/cover.jpg') repeat;
	}


	.jumbotron{
		background-color: rgba(2, 2, 28, 0.7);
		box-shadow: 0 0 100px 50px black inset;
		margin-bottom: 0;

		.container{
			opacity: 1.3;
		}
	}

	color: white;
}

#feature{
	background-color: #1ABC9C;
	opacity: 0.8;
	display: block;
	min-height: 120px;
	margin: 0;
}

/**
 * Featured on Home page
 */

.wrapper-featured {
  background: #47c9af;
  text-align: center;
  padding: {top: 10px; bottom: 5px;}
  
  h4 { margin-bottom: 15px; }
  
  .item { margin-bottom: 25px; 
    img { margin: {left: auto; right: auto;} }
  }
  
  @media (min-width: $screen-sm-min) {
    //text-align: left;
    
    //.item img { margin: {left: 0; right: 0;} }
  }
}
