= render 'side_navigation', :active => 'issuer_profile'

#information
  %h4
    Your Issuer Dashboard
  %hr
  %p
    There is nothing here yet, but this will give you a high level summary of activity around your campaign.