.how-it-works{
  #how-it-works-nav{
    z-index: 2;
    position: fixed;
    left: 200px;
    top: 20%;
    width: 200px;

    ul{
      border: none;
      li{
        width: 100%;
      }
    }
  }

  .how-it-works-process{
    overflow: scroll;
    display: block;
    .step-process{
      width: 100%;
      height: 100vh;
    }
    #step1{
      background-image: image-url('home/cover3.jpg');
    }
    #step2{
      background-image: image-url('home/cover4.jpg');
    }
    #step3{
      background-image: image-url('home/cover5.jpg');
    }
    #step4{
      background-image: image-url('home/cover3.jpg');
    }
    #step5{
      background-image: image-url('home/cover4.jpg');
    }
    #step6{
      background-image: image-url('home/cover5.jpg');
    }
  }
}