.privacy-block{
  padding-top: 80px;
  padding-bottom: 10px;
  font-family: 'Open Sans', Helvetica, sans-serif;

  .privacy-text-block{
    margin: 10px 0;
    text-align: justify;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
  }
}
