%p
  = 'You successfully submitted an '
  = link_to 'income verification request', user_investor_income_verification_path(event.investor.user)
  = "to Veri-Tax #{time_ago_in_words(event.created_at)} ago."