// global colors
$color-green: #47a447;
$color-blue: #428bca;
$color-white: #ffffff;
$color-black: #000000;
$color-orange: orange;

$green-light: #1ABC9C;
$blue-lught: #1d92da;

// page specific colors
$page-background-color: #f8f8f8;
$company-block-background-color: #ffffff;