%table{:width => "100%"}
  %tr
    %td= @label
    %td.pull-right
      = @link unless @status == 'completed'
  %tr
    %td= @description
    %td.pull-right
      %em{:class => "#{@status == 'completed' ? 'text-success' : 'text-warning'}"}= @status.capitalize

%hr