%td
  A campaign was published for review
%td
  = link_to campaign.company.campaign_title, display_campaign_company_path(campaign)

-#%td
-#  = link_to 'Approve', '#', :class => 'btn btn-xs btn-success'
-#%td
-#  = link_to 'Reject', '#', :class => 'btn btn-xs btn-danger'