= render "side_navigation", :active => 'admin_income_verification_events'
= render "users/header"

#information
  %h3 Income Verification Events

  %table.table
    - @order_completed_events.each do |event|
      %tr
        = render :partial => '/admins/veritax_order_completed', :locals => {:event => event, :investor => event.investor}

    - @order_submitted_successfully_events.each do |event|
      %tr
        = render :partial => '/admins/veritax_order_submitted_successfully', :locals => {:event => event, :investor => event.investor}