= render 'side_navigation', :active => 'admin_income_verification_events'
= render 'users/header'

#information
  %table.table
    - if @events.blank?
      No data present.
    - else
      - @events.each do |event|
        %tr
          = render :partial => event.to_admin_partial_path, :locals => {:event => event, :investor => event.investor}