:erb
  <div class="form-group">
    <%= label_tag @field, nil, :class => "col-md-4 control-label" %>
    <div class="col-md-6">
      <%= @form.text_field @field, :class => "form-control input-md" %>
    </div>
  </div>