:css
  .foundation-icons ul { list-style: none; overflow: hidden; margin-top: 20px; margin-bottom: 30px; }
  .foundation-icons ul li { font-size: 28px; margin-bottom: 16px; vertical-align: center; }
  .foundation-icons i { font-style: normal; margin-right: 0.5em; }
  .foundation-icons .foundicon-thumb-up:after         { content: " thumb-up";}
  .foundation-icons .foundicon-thumb-down:after       { content: " thumb-down";}
  .foundation-icons .foundicon-rss:after              { content: " rss";}
  .foundation-icons .foundicon-facebook:after         { content: " facebook";}
  .foundation-icons .foundicon-twitter:after          { content: " twitter";}
  .foundation-icons .foundicon-pinterest:after        { content: " pinterest";}
  .foundation-icons .foundicon-github:after           { content: " github";}
  .foundation-icons .foundicon-path:after             { content: " path";}
  .foundation-icons .foundicon-linkedin:after         { content: " linkedin";}
  .foundation-icons .foundicon-dribbble:after         { content: " dribbble";}
  .foundation-icons .foundicon-stumble-upon:after     { content: " stumble-upon";}
  .foundation-icons .foundicon-behance:after          { content: " behance";}
  .foundation-icons .foundicon-reddit:after           { content: " reddit";}
  .foundation-icons .foundicon-google-plus:after      { content: " google-plus";}
  .foundation-icons .foundicon-youtube:after          { content: " youtube";}
  .foundation-icons .foundicon-vimeo:after            { content: " vimeo";}
  .foundation-icons .foundicon-flickr:after           { content: " flickr";}
  .foundation-icons .foundicon-slideshare:after       { content: " slideshare";}
  .foundation-icons .foundicon-picassa:after          { content: " picassa";}
  .foundation-icons .foundicon-skype:after            { content: " skype";}
  .foundation-icons .foundicon-steam:after            { content: " steam";}
  .foundation-icons .foundicon-instagram:after        { content: " instagram";}
  .foundation-icons .foundicon-foursquare:after       { content: " foursquare";}
  .foundation-icons .foundicon-delicious:after        { content: " delicious";}
  .foundation-icons .foundicon-chat:after             { content: " chat";}
  .foundation-icons .foundicon-torso:after            { content: " torso";}
  .foundation-icons .foundicon-tumblr:after           { content: " tumblr";}
  .foundation-icons .foundicon-video-chat:after       { content: " video-chat";}
  .foundation-icons .foundicon-digg:after             { content: " digg";}
  .foundation-icons .foundicon-wordpress:after        { content: " wordpress";}

.container.foundation-icons
  .row
    .large-12.small-12.columns
      %h2 Foundation Icons - Social
  .row
    %ul.large-4.small-8.columns
      %li
        %i.foundicon-thumb-up
      %li
        %i.foundicon-thumb-down
      %li
        %i.foundicon-rss
      %li
        %i.foundicon-facebook
      %li
        %i.foundicon-twitter
      %li
        %i.foundicon-pinterest
      %li
        %i.foundicon-github
      %li
        %i.foundicon-path
      %li
        %i.foundicon-linkedin
      %li
        %i.foundicon-dribbble
    %ul.large-4.small-8.columns
      %li
        %i.foundicon-stumble-upon
      %li
        %i.foundicon-behance
      %li
        %i.foundicon-reddit
      %li
        %i.foundicon-google-plus
      %li
        %i.foundicon-youtube
      %li
        %i.foundicon-vimeo
      %li
        %i.foundicon-flickr
      %li
        %i.foundicon-slideshare
      %li
        %i.foundicon-picassa
      %li
        %i.foundicon-skype
    %ul.large-4.small-8.columns
      %li
        %i.foundicon-instagram
      %li
        %i.foundicon-foursquare
      %li
        %i.foundicon-delicious
      %li
        %i.foundicon-chat
      %li
        %i.foundicon-torso
      %li
        %i.foundicon-tumblr
      %li
        %i.foundicon-video-chat
      %li
        %i.foundicon-digg
      %li
        %i.foundicon-wordpress
  .row
    .large-12.small-12.columns
      %h4 Here's the code:
      .code
        %pre
          \&lt;i class="
          %span.class> foundicon-[icon]
          "&gt;&lt;/i&gt;
