.row.roomy
  .large-6.small-12.columns
    = image_tag "http://placehold.it/500x500&text=Image"
  .large-6.small-12.columns
    .panel.transparent
      %h1 Header
      %p Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpa. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsu augue.
    .row
      .large-6.small-6.columns
        .panel
          %h2.subheader Option One
          %p Praesent placerat dui tincidunt elit suscipit sed.
          = link_to "Button", "#", class: "full-width button"
      .large-6.small-6.columns
        .panel
          %h2.subheader Option Two
          %p Praesent placerat dui tincidunt elit suscipit sed.
          = link_to "Button", "#", class: "full-width button"
.row
  - 4.times do
    .large-3.small-6.mobile-two.columns
      = image_tag "http://placehold.it/500x500&text=Thumbnail"
      .panel
        %p Description
