- content_for :without_navigation, true

%h1 Sometimes it's really helpful to hide the navigation!
%h3 It helps your users focus on the more important calls to action.

%p Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

= link_to "Really, it does!", "#", class: "button"
