%h2 Price Table v2

%table.responsive.pricing
  %thead
    %tr
      %th
        %h3 Standard
      %th
        %h3 Gold
      %th
        %h3 Unlimited
  %tbody
    %tr
      %th Free
      %th $25 / month
      %th $50 / month
    %tr
      %td 100 visitors
      %td 150 visitors
      %td 200 visitors
    %tr
      %td 100 GB
      %td 150 GB
      %td 200 GB
    %tr
      %td 25 images per month
      %td 50 images per month
      %td 100 images per month
  %tfoot
    %tr
      %th
        %div
          = link_to "Add To Cart", "#", class: "button medium"
      %th
        %div
          = link_to "Add To Cart", "#", class: "button medium"
      %th
        %div
          = link_to "Add To Cart", "#", class: "button medium"
