.row
  .large-6.small-12.columns
    %h1 Product List
  .large-6.small-12.columns
    .row.collapse
      .small-9.columns
        %input{ :type => "text", :placeholder => "Search" }
      .small-3.columns
        %button.prefix Search
- 3.times do
  .row
    .large-4.small-4.columns
      = image_tag "http://placehold.it/250x250&text=[img]"
    .large-8.small-8.columns
      .row
        .large-6.small-12.columns
          %h3 Product Description
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .large-6.small-12.columns
          %h3 Product Details
          %ul.details
            %li Neque porro quisquam
            %li Dolorem ipsum quia
            %li Adipisci velit
          %h3 Price
          %p
            %strong $999.99
          .cart
            = link_to "Add to cart »", "#", class: "medium button"
    %hr.greyscale
