= render 'banking/side_navigation', :active => 'banking_accounts'
= render 'users/header'

#information
  .container
    %p= button_to 'Create your Bancbox account', user_banking_account_bancbox_account_path(@user, :created => true), :method => :put, :class => 'btn btn-success btn-large'
    %p= button_to 'Fail to create your Bancbox account', user_banking_account_bancbox_account_path(@user, :created => false), :method => :put, :class => 'btn btn-danger btn-large'