.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'campaigns/management_navigation', :active => :jobs, :campaign => @campaign
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          = render 'campaigns/title', :active => :jobs, :campaign => @campaign, :title => 'Jobs'
          
          = render "form", :active => :edit
