#dashboard.container
  .row
    .col-md-8
      .dashboard-content
        %h2 investor Dashboard
        %hr
          %table.table
            %thead
              %tr
                %td
                  Campaign
                %td
                  Time
                %td
                  Amount
                %td
            %tbody
              %tr
                %td
                  = link_to 'Campaign X', '#'
                %td
                  = link_to 'Nov 1, 2013', '#'
                %td
                  = link_to '$250.00', '#'
                %td
                  = link_to "Details", '#', :class => 'btn btn-default btn-xs'
    .col-md-4.dashboard-right