<div class="form-group">
  <%= label_tag @label, nil, :class => "col-md-4 control-label" %>
  <div class="col-md-8">
    <%= @form.text_field @field, :class => "form-control input-md" , :placeholder => @placeholder %>
  </div>
</div>
