<div class="form-group">
  <%= label_tag @field, nil, :class => "col-md-4 control-label" %>
  <div class="col-md-8">
    <%= @form.text_field @field, :class => "form-control input-md" , :placeholder => @placeholder, :data => { :role => 'money', :a_sep => ",", :a_dec => "."} %>
  </div>
</div>
