%fieldset.nested-fields        
  - with_options :form => f do |op|
    = op.render_cell 'tb/form/text', :display, :field => :school
    = op.render_cell 'tb/form/select', :display, :field => :degree, :values => ["", "Undergraduate", "Masters", "PhD", "MBA or other Graduate Business Degree", "JD or other Graduate Law Degree", "MD or other Graduate Medical Degree", "Other Professional Degree", "Other Degrees", "Non-Degree Work"]
  = link_to_remove_association 'Remove', f


