.nested-fields
  = f.input :school, :input_html => {:class => 'in-school'}
  = f.input :degree, :as => :select, :class => 'no-marg-bottom', :collection => ["Undergraduate", "Masters", "PhD", "MBA or other Graduate Business Degree", "JD or other Graduate Law Degree", "MD or other Graduate Medical Degree", "Other Professional Degree", "Other Degrees", "Non-Degree Work"]
  
  .wrapper-remove-association
    = link_to_remove_association(('<i class="fa fa-times-circle"></i> Remove').html_safe, f, {:class => 'btn btn-link btn-sm marg-bottom no-pad-left no-pad-right text-danger'})