-if @user.nil?
  %h2 User not found
-else
  - if @current_user != nil and @user.id == @current_user.id
    = semantic_form_for [@user] do |f|
      .fields
        - if @user.is_investor?
          =f.inputs :name => "Investor Profile", :for => :investor do |inf|
            =inf.input :ssn
            =inf.input :marital_status, :as => :select, :collection => ["Single", "Married", "Separated", "Divorced", "Widowed", "Cohabiting", "Civil Union", "Domestic Partnership"]
            =inf.input :financial_info, :input_html => { :class => 'ckeditor' }
            =inf.input :spending_habits
            =inf.input :income
            =inf.input :income_type
            =inf.input :net_worth
            =inf.input :investor_representations
            =inf.input :company
            =inf.input :job_title
            =inf.input :experience, :input_html => { :class => 'ckeditor' }
            =inf.input :expertise, :input_html => { :class => 'ckeditor' }
            =inf.input :personal_message, :input_html => { :class => 'ckeditor' }
          .rows
            =f.submit "Save"
        - else
          You are not an investor.
