-if @user.nil?
  %h2 User not found
-else
  %h2
  - if current_user != nil and @user.id == current_user.id
    = form_for @user, :html => {:class => "form-horizontal"} do |f|
      %fieldset
        = render_cell 'tb/form/password', :display, :form => f, :field => :password
        = render_cell 'tb/form/password', :display, :form => f, :field => :password_confirmation
        = render_cell 'tb/form/submit_button', :display
