- unless @user.educations.empty?
  .row.form-row
    .col-xs-4.col-md-4.form-label
      %b.pull-right
        %h4 Degrees
  - @user.educations.each do |e|
    = render "shared/property_row", :header => e.degree, :value => e.school
