-if @user.nil?
  %h2 User not found
-else
  %h2
    = image_tag @user.avatar(:thumb) unless @user.avatar.nil?
    = @user.first_name
    = @user.last_name
  - if @user.id == @current_user.id
    =link_to "[edit]", edit_user_path(@user.id)
  %h3 Profile Information
  .row
    .small-3.columns
      First Name
    .small-9.columns
      =@user.first_name
  .row
    .small-3.columns
      Middle Name
    .small-9.columns
      =@user.middle_name
  .row
    .small-3.columns
      Last Name
    .small-9.columns
      =@user.last_name
  .row
    .small-3.columns
      Gender
    .small-9.columns
      =@user.gender
  .row
    .small-3.columns
      Date of Birth
    .small-9.columns
      =@user.date_of_birth
  .row
    .small-3.columns
      Email
    .small-9.columns
      =@user.email
  .row
    .small-3.columns
      Facebook
    .small-9.columns
      =@user.facebook
  .row
    .small-3.columns
      LinkedIn
    .small-9.columns
      =@user.linkedin
  .row
    .small-3.columns
      Mobile Phone
    .small-9.columns
      =@user.mobile_phone
  .row
    .small-3.columns
      Home Phone
    .small-9.columns
      =@user.home_phone
  .row
    .small-3.columns
      Adress 1
    .small-9.columns
      =@user.address_1
  .row
    .small-3.columns
      Address 2
    .small-9.columns
      =@user.address_2
  .row
    .small-3.columns
      City
    .small-9.columns
      =@user.city
  .row
    .small-3.columns
      State
    .small-9.columns
      =@user.state
  .row
    .small-3.columns
      ZipCode
    .small-9.columns
      =@user.zipcode
  .row
    .small-3.columns
      Personal Statement
    .small-9.columns
      =@user.personal_statement.html_safe

  - if @user.is_investor?
    %h3 Investor Information
    .row
      .small-3.columns
        SSN
      .small-9.columns
        =@user.investor.ssn
    .row
      .small-3.columns
        Marital Status
      .small-9.columns
        =@user.investor.marital_status
    .row
      .small-3.columns
        Financial Info
      .small-9.columns
        =@user.investor.financial_info.html_safe
    .row
      .small-3.columns
        Spending Habits
      .small-9.columns
        =@user.investor.spending_habits
    .row
      .small-3.columns
        Income
      .small-9.columns
        =@user.investor.income
    .row
      .small-3.columns
        Income Type
      .small-9.columns
        =@user.investor.income_type
    .row
      .small-3.columns
        Net Worth
      .small-9.columns
        =@user.investor.net_worth
    .row
      .small-3.columns
        Investor Representations
      .small-9.columns
        =@user.investor.investor_representations
    .row
      .small-3.columns
        Industry
      .small-9.columns
        =@user.investor.industry
    .row
      .small-3.columns
        Company
      .small-9.columns
        =@user.investor.company
    .row
      .small-3.columns
        Job Title
      .small-9.columns
        =@user.investor.job_title
    .row
      .small-3.columns
        Experience
      .small-9.columns
        =@user.investor.experience.html_safe
    .row
      .small-3.columns
        Expertise
      .small-9.columns
        =@user.investor.expertise.html_safe
    .row
      .small-3.columns
        Personal Message
      .small-9.columns
        =@user.investor.personal_message.html_safe

  - if @user.is_owner?
    %h3 Owner Information
    .row
      .small-3.columns
        SSN
      .small-9.columns
        =@user.owner.ssn
    .row
      .small-3.columns
        Marital Status
      .small-9.columns
        =@user.owner.marital_status
    .row
      .small-3.columns
        Financial Info
      .small-9.columns
        =@user.owner.financial_info.html_safe
    .row
      .small-3.columns
        Experience
      .small-9.columns
        =@user.owner.experience.html_safe
    .row
      .small-3.columns
        Expertise
      .small-9.columns
        =@user.owner.expertise.html_safe
    .row
      .small-3.columns
        Personal Message
      .small-9.columns
        =@user.owner.personal_message.html_safe

