- content_for :header_1 do
  - unless @company.banner_photo_url.blank?
    #investment-finalization-header.company_banner
      = image_tag(@company.banner_for_campaign_home_display)
      .jumbotron.company_banner_info
        .container#investment-header
          %a.btn.btn-success.invest-now.text-center
            Finalize Your Investment

//  :erb
//    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='202784' style="min-height: 65px"></div>
