- if entity && entity.errors.any?
  .form-group
    .col-md-8.col-md-offset-4
      %h3= "#{pluralize(entity.errors.count, 'error')} #{entity.errors.count == 1 ? 'was' : 'were'} encountered."
      %ul
        - entity.errors.full_messages.each do |msg|
          %li= msg
      %hr