.wrapper-follows
  .follow-us-unit.clearfix
    %h5 Follow us on: 
    .list-soc
      %ul.list-inline
        %li.soc-twitter
          = link_to '#' do 
            %span.fa-stack
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-twitter.fa-stack-1x.fa-inverse
        %li.soc-facebook
          = link_to '#' do
            %span.fa-stack
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        %li.soc-linkedin
          = link_to '#' do
            %span.fa-stack
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-linkedin.fa-stack-1x.fa-inverse
