<div class="company-video company-block">
	<% unless video_url.blank? or Rails.env.test? %>
	    <div>
		    <iframe width="630px" height="405px" src="<%= video_url -%>?feature=oembed&showinfo=0" frameborder="0" allowfullscreen>
		    </iframe>
	    </div>
	<% end %>
</div>