<% unless video_url.blank? %>
    <div style="text-align:center">
      <iframe width="590" height="400" src="<%= video_url -%>?feature=oembed" frameborder="0" allowfullscreen>
      </iframe>
    </div>
<% end %>