<div class="company-video">
	<% unless video_url.blank? or Rails.env.test? %>
	    <div>
		    <iframe width="620px" height="395px" src="<%= video_url -%>?feature=oembed" frameborder="0" allowfullscreen>
		    </iframe>
	    </div>
	<% end %>
</div>