
.masthead
  .inner
    .container
      .left-info
        %p.triangle-img
          =image_tag("home/triangle-learn-more.png", :class => 'img-responsive')
        %button.btn.btn-lg.btn-primary{:data => {:toggle => "modal", :target => "#home-video"}}
          %i.fa.fa-play-circle
          See Our Video
      /.left-info
/.masthead
          
.modal.fade#home-video
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &times;
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title 
          .logo.pull-left
            %img{:src => image_path('home/logo.png'), :alt => 'Alumvest', :width => 120}
          See Our Video
      .modal-body
        - unless Rails.env.test?
          .flex-video.widescreen.vimeo.no-marg-bottom
            <!-- Plugin for Vimeo -->
            <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
            %iframe#vimeo_player{:src => '//player.vimeo.com/video/75979909?api=1&player_id=vimeo_player&portrait=0&amp;color=34cb9e', :width => '100%', :height => '500', :frameborder => '0', :webkitallowfullscreen => 'true', :mozallowfullscreen => 'true', :allowfullscreen => 'true'}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}
          %i.fa.fa-angle-double-left
          Back to homepage
    /.modal-content
  /.modal-dialog
/.modal

- unless @reviewable_campaigns.blank?
  #active
    .campaign-group-title
      .container
        .row
          .col-md-4
            %h3 Active Campaigns
          .col-md-4.col-md-offset-4
            %a
              View All
    .campaign-row-section
      .container
        .row.homepage-featured-campaigns
          - @reviewable_campaigns.each do |campaign|
            = render "campaigns/placard", :campaign => campaign

- unless @reviewable_campaigns.blank? or @live_campaigns.blank?
  .container
    %hr

- unless @live_campaigns.blank?
  #successful
    .campaign-group-title
      .container
        .row
          .col-md-4
            %h3 Live Campaigns
          .col-md-4.col-md-offset-4
            %a
              View All

    .campaign-row-section
      .container
        .row.homepage-featured-campaigns
          - @live_campaigns.each do |campaign|
            = render "campaigns/placard", :campaign => campaign

#babson-video.video-trailer-wrapper
  - unless Rails.env.test?
    %video{:autoplay => 'autoplay', :onended => "window['endBabsonVideo']()"}
      %source{:src => video_path('alumvest.mp4'), :type => "video/mp4"}
    .overlay-bg

#how-it-works.row
  .col-md-12
    .jumbotron
      .container
        %h2.text-center Invest In Someone Like You
        %p.text-center
          %em
            Interested to learn more about Alumvest?
        .text-center
          = link_to('See How It Works', '/about/how-it-works', :class => "btn btn-info btn-large marg-bottom")
          = link_to('Sign Up Now', '#signup-modal', 'data-toggle' => 'modal', :class => "btn btn-primary btn-large marg-bottom")

#feature
  .container  
    %h4 Featured in
    .row
      .col-md-3
        %img{ :src => image_path('feature_logo/mashable.png')}
      .col-md-3
        - unless Rails.env.test?
          %img{ :src => image_path('https://d1dve5icbq0xf0.cloudfront.net/assets/home_forbes1@2x-524f588e9b812e0bbd0b31efcf836038.png')}
      .col-md-3
        %img{ :src => image_path('feature_logo/bloomberg.png')}
      .col-md-3
        %img{ :src => image_path('feature_logo/betabeat.png')}
