%p
  = "The Bancbox escrow account was approved and opened for "
  = link_to opened.campaign.company.campaign_title, display_campaign_company_path(opened.campaign)
  = "#{time_ago_in_words(opened.created_at)} ago."