%td
  An income verification order was successfully completed for
  = link_to investor.user.full_name, user_path(investor.user)
%td
  = link_to 'Review the transcript', income_verification_transcript_user_admin_path(current_user, :veritax_order_id => event.veritax_order.id)
%td
  - if event.veritax_order.completed?
    = link_to 'Approve', approve_income_verification_user_admin_path(current_user, :income_verification_id => event.veritax_order_id), :class => 'btn btn-xs btn-success', :method => :put
%td
  - if event.veritax_order.completed?
    = link_to 'Reject', reject_income_verification_user_admin_path(current_user, :income_verification_id => event.veritax_order_id), :class => 'btn btn-xs btn-danger', :method => :put