%td
  A campaign was accepted
%td{:colspan => (campaign.accepted? and campaign.bancbox_escrow.blank?) ? '2' : '3'}
  = link_to campaign.company.campaign_title, display_campaign_company_path(campaign)
  
- if campaign.accepted? and campaign.bancbox_escrow.blank?
  %td
    = link_to 'Create an Escrow Account', campaign_bancbox_escrow_path(campaign), :method => :post, :class => 'btn btn-primary btn-xs'