.container
  .row
    .col-md-12

      %p
        %table.table
          %thead
            %tr
              %td
                Document name
              %td
                Document status
          - @signings.each do |signing|
            %tbody
              %tr
                %td
                  = link_to_unless signing.status == 'completed', signing.document.name, signing.envelope.get_recipient_view('investor')
                %td
                  = signing.status_for_end_user

    -# %iframe.col-md-12{:src => @signing_url, :style => 'min-height: 500px'}
    -#= link_to "Complete this item", campaign_investment_contract_doc_group_path(@campaign, @investment), :method => :put, :class => 'btn btn-default'