= render 'investments/navigation', :active => 'investment_documents', :campaign => @campaign

.well
  %table.table
    %thead
      %tr
        %td
          Envelope
        %td
          Status
        %td
          Action

    %tbody

      - @envelope_workflows.each do |workflow|
        %tr
          %td
            = workflow.template.name
          %td
            = workflow.status
          %td
            - if workflow.status == 'unsigned'
              = link_to 'Sign', '#', :class => 'btn btn-xs btn-success', :method => :get
              - #signing.envelope.get_recipient_view('investor')