.container
  %section.wrapper-dashboard
    .row
      .col-xs-2.col-md-3.col-lg-4
        = render 'dashboard/dashboard_nav', :active => 'issuer_campaign'
      .col-xs-10.col-md-9.col-lg-8.pull-right
        .dashboard-content
          = render 'layouts/flash', :flash => flash
          
          %h1.text-primary.no-marg-top Your Campaign
          - unless @campaign.blank?
            = render :partial => 'issuer/campaigns/campaign', :campaign => @campaign
          - else
            = link_to 'Create your campaign', user_issuer_campaign_path(current_user), :class => 'btn btn-primary btn-lg', :method => :post
