// all about company

$page-background-color: #f8f8f8;
$company-block-background-color: #ffffff;
$company-left-block-width: 630px;
$company-left-content-width: 620px;
$company-right-block-width: 300px;
$company-right-content-width: 290px;
$header-height: 20px;
$header-font-size: 16px;
$header-font-weight: 600;
$body-font-size: 14px;
$body-font-weight: 200;

$color-green: #47a447;
$color-blue: #428bca;
$color-white: #ffffff;

// v2 code
.company_banner{
  img{
    width: 100%;
    height: 350px;
  }

  .company_banner_info{
    width: 100%;
    position: absolute;
    top: 70px;
    margin: 0 auto;
    z-index: 2;
    background: none;

    .container{
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;

      a.btn{
        margin-top: 20px;
        width: 200px;
        font-size: 20px;
        border: none;
        border-radius: 0;
      }

      a.btn:hover{
        color: #ECF0F1;
      }
    }

    #investment-header{
      background: none;

      a.btn{
        width: 300px;
      }
    }

  }
}

.vertical-spacer-1-em{
  height: 52px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #428bca;

  .container{
    padding: 0;
    height: 100%;
  }

  #company-nav{
    height: 52px;

    .col-md-9{
      height: 100%;

      .nav.nav-pills{
        height: 100%;

        li{
          height: 100%;
          margin: 0;

          a{
            position: relative;
            top: 7px;
            text-transform: uppercase;
            display: block;
            vertical-align: middle;
            color: #ffffff;
          }

          a:hover{
            text-decoration: none;
            background-color: $color-blue;
          }
        }

        li.active{
          background-color: $page-background-color;

          a{
            background-color: $page-background-color;
            color: $color-blue;
          }

          a:hover{
            background-color: $page-background-color;
          }
        }
      }
    }

    .col-md-3{
      height: 100%;

      form.button_to{
        display: block;
        height: 52px;

        div{
          height: 100%;

          input.btn.btn-large.btn-primary{
            background: none;

            border: none;
            text-shadow: none;
            box-shadow: none;

            display: block;
            position: relative;
            top: 11px;
            left: 37px;

          }
        }
      }
    }
  }
}

.company-block{
  border-radius: 2px;
  box-shadow: 0px 0px 2px #BDC3C7;
  background-color: $company-block-background-color;
}

#investment-header{
  a.btn{
    display: block;
    margin: 20px auto 0;
  }


}

.blur{
  position: relative;
  .bg{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.6;
  }
}

#company-tab{
  .company-video{// company video on compaign page
    padding: 5px;
    width: $company-left-block-width;
    height: 405px;
    margin-bottom: 20px;
  }

  .company-details, .company-highlights{
    padding: 5px;
    width: $company-left-block-width;
    min-height: 110px;
    margin-bottom: 20px;

    h3{
      padding: 0;
      display: block;
      margin: 0 0 5px;
      width: $company-left-content-width;
      height: 20px;
      font-size: $header-font-size;
      color: $color-green;
      font-weight: $header-font-weight;
      overflow: hidden;
    }

    p{
      margin: 0px;
      width: $company-left-content-width;
      font-size: $body-font-size;
      font-weight: $body-font-weight;
    }
  }

  .blur{
    margin: 0;
    padding: 0!important;
    .bg{
      padding: 0;
      margin: 0;
    }
    .sec-sm {
      padding: 0;
      margin: 0;
      position: absolute;
      left: 15%;
      top: 15px;
      font-size: 14px;
      background: transparent;
    }
  }
}

.company-summary{ // company summary
  padding: 1em;
  margin-bottom: 20px;
  width: 100%;

  h2{
     color: $color-green;
     font-weight: $header-font-weight;
     display: block;
     width: 100%;
     height: $header-height;
     margin-top: 00px;
     padding: 0;
     overflow: none;
     font-size: $header-font-size;
   }

  .table{
    border: none;
    margin: 0;
    width: 100%;

    tbody{
      border: none;

      .company-logo-side{
        width: 100px;
      }

      td{
        border: none;
        padding: 5px;
        height: 100%;

        h3{
          color: $color-green;
          font-weight: $header-font-weight;
          display: block;
          width: 100%;
          height: $header-height;
          margin: 0;
          padding: 0;
          overflow: none;
          font-size: $header-font-size;
        }

        p{
          margin: 5px 0 0;
          font-weight: 100;
          width: 100%;
        }

        .short-description{
          font-size: 14px;
          height: 58px;
          font-weight: 200;
        }

        .company-short-info{
          height: 12px;
          font-size: 12px;
        }

        img{
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

.company-raise-summary{
  padding: 5px;
  width: $company-right-block-width;
  min-height: 110px;
  margin-bottom: 20px;
}

.company-raise-summary{
  padding: 5px;
  width: $company-right-block-width;

  p{
    margin: 0;
  }

  div{
    background-color: $page-background-color;
    margin-top: 0;
    margin-bottom: 5px;
    height: 40px;
    font-size: 16px;
    padding: 10px 15px;
    text-align: baseline;
    color: $color-blue;
  }

  .double-level{
    height: 60px;
  }

  .raise-label{
    color: #000000;
    font-weight: 100;
  }

  .progress{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 8px;
  }

  .table-term{
    height: auto;
  }

  a.btn{
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 0;
  }

  a.btn:hover{
    color: #ECF0F1;
  }
}

.company-highlights{
  p{
    text-align: justify;
  }
}

.company-follow{
  padding: 5px;
  height: 95px;
  width: $company-right-block-width;

  p{
    margin: 0;
  }

  .followers{
    height: 40px;
    margin-bottom: 5px;
    background-color: $page-background-color;
    font-size: 16px;
    color: $color-blue;
    padding: 10px 15px;
    text-align: baseline;
  }

  .btn{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 0;
  }

  .btn:hover{
    color: #ECF0F1;
  }
}

#team-tab{
  background-color: $color-white;
  box-shadow: 0 0 5px #7F8C8D;

  .team-highlights{
    margin: 40px 0;
    h3{
      font-size: 24px;
      font-size: 300;
      color: #7F8C8D;
      margin-top: 0;
      margin-bottom: 40px;
    }

    div{
      font-size: 14px;
      font-weight: 100;
    }
  }

  .team-members{
    margin-bottom: 40px;

    img.img-circle{
      width: 100px;
      height: 100px;
      border: 5px solid #ffffff;
      z-index: 2;
      position: relative;
      left: 95px;
    }

    .team-member-info{
      background-color: $page-background-color;
      padding-top: 60px;
      height: 770px;
      overflow: hidden;
      position: relative;
      top: -50px;

      p{
        display: none;
      }

      h4, h5{
        color: #7F8C8D;
      }

      .introduction{
        padding: 10px 10px;
        text-align: justify;
        font-size: 14px;
        font-weight: 200;
        height: 600px;
        overflow: hidden;

        p{
          display: block;
        }
      }

      .share-buttons{
        padding: 10px 10px;

        a{
          color: #000000;
          display: inline-block;
          width: 30px;
          height: 30px;

          span{
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        a:hover{
          text-decoration: none;
          color: #000000;
        }
      }

      .company-video{
        display: none;
      }
    }
  }
}

#investment-term-tab{
  padding-top: 40px;
  padding-bottom: 40px;

  .term-content{
    h3{
      font-size: 20px;
      font-weight: $header-font-weight;
      color: $color-green;
    }

    table{
      td{
        height: 40px;
      }
    }

    .investment-label{
      font-size: 16px;
      font-weight: 100;
      width: 640px;
    }

    .investment-value{
      font-size: 16px;
      font-weight: 600;
      color: $color-blue;
      width: 320px;

      a:hover{
        text-decoration: none;
      }
    }

    p{
      font-size: 14px;
      font-weight: 200;
      line-height: 150%;
    }
    .blur{
      .sec-bg {
        display: block;
        position: absolute;
        left: 15%;
        width: 70%;
        top: 25px;
        padding: 20px;
        background-color: #f8f8f8;
        p{
          font-size: 28px;
          font-style: bold;
        }
      }
    }
  }
}

#faq-tab{
  background-color: $color-white;
  box-shadow: 0 0 5px #7F8C8D;
  padding-top: 40px;
  padding-bottom: 40px;

  h3{
    font-size: 20px;
    font-weight: $header-font-weight;
    color: $color-green;
  }
}

#update-tab{
  padding-top: 40px;
  padding-bottom: 40px;

  h3{
    font-size: 20px;
    font-weight: $header-font-weight;
    color: $color-green;
  }
}

#join-us-tab{
  background-color: $color-white;
  box-shadow: 0 0 5px #7F8C8D;
  padding-top: 40px;
  padding-bottom: 40px;

  h3{
    font-size: 20px;
    font-weight: $header-font-weight;
    color: $color-green;
  }
}

#discussion-tab{
  padding-top: 15px;
}

// v2 for investment
.thank-you{
  display: block;
  color: $color-blue;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
}

#investment-body{
  padding: 20px 0 20px;
  table{
    background-color: $company-block-background-color;

    td{
      border: none;
      font-weight: 200;
      font-size: 12px;

      b{
        font-size: 18px;
        font-weight: 500;
      }
    }

    td.pull-right{

      a.btn{
        border-radius: 0;
      }

      em{
        font-size: 12px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
}

// for dashboard
#dashboard.container{
  display: block;
  min-height: 600px;

  .row{
    min-height: 600px;
  }

  .dashboard-content{
    h2{
      color: rgb(128, 128, 128);
      font-size: 16px;
      font-weight: bold;
    }

    table{
      display: block;
      background-color: #ffffff;
      border-color: rgb(238, 238, 238);
      margin: 20px 10% 10px 0;
      width: 90%;
      box-shadow: rgba(0,0,0,0.08) 0px 0px 3px 0px;

      thead td{
        color: rgb(128, 128, 128);
        font-size: 12px;
        font-weight: bold;
      }

      tbody td{
        font-size: 12px;
        font-weight: normal;
      }
    }
  }

  .dashboard-right{
    height: 100%;
    min-height: 600px;
    border-left: 1px solid #b2b9c9;
    box-shadow: 0 0 0 -2px #b2b9c9;
  }
}

// v1 code
.nav-fixed { //navbar fixed for parallex scrolling
  width: 100%;
  position: fixed;
  top:0px;
  background-color: $color-blue;
  z-index: 100050;
  height: 52px;
}

.nav.container {
  padding-left: 15px;
}

.row-bg1 {
  background-color: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-bg2 {
  background-color: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-box-shadow:    inset 0  8px 8px -8px #888888,
                      inset 0 -8px 8px -8px #888888;
  -webkit-box-shadow: inset 0  8px 8px -8px #888888,
                      inset 0 -8px 8px -8px #888888;
  box-shadow:         inset 0  8px 8px -8px #888888,
                      inset 0 -8px 8px -8px #888888;
}
