%div.company-summary.company-block
  %p Admin Functions
  %hr
  %p
    = "The current state of this campaign is '#{@campaign.status}'"

  - if @campaign.live?
    %p
      = link_to 'Disable this campaign', disable_campaign_user_admin_path(current_user, :campaign_id => @campaign.id), :method => :put

  - if @campaign.disabled?
    %p
      = link_to 'Enable this campaign', enable_campaign_user_admin_path(current_user, :campaign_id => @campaign.id), :method => :put