.container
  .row
    .col-md-12
      %h3 IRS documents
      = link_to "Complete this item", campaign_investment_finalization_irs_doc_group_path(@campaign, @investment_finalization), :method => :put, :class => 'btn btn-default'