@import "subscribe";

#footer{
  background-color: #ffffff;
  display: block;
  width: 100%;
  height: 250px;
  min-height: 250px;
  padding: 20px 0 20px;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 0;
  clear: both;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;

  .share-group{
    margin-top: 10px;
    float: right;
  }

  img{
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  .footer-navigation{
    li{
      display: inline-block;
      width: 150px;

      a{
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        color: #000000;
        padding-left: 0;
      }


      a:hover{
        background-color: #ffffff;
      }
    }
  }

  .copyright{
    margin-top: 60px;
    text-align: center;
    p{
      font-size: 10px;
      color: #BDC3C7;
    }
  }
}