@import "user_dropdown";

#header{
  background-color: white !important;
  background-image: none;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-top-color: #00B1AC;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 0;
  box-shadow: none;

  .navbar-brand{
    padding: 5px 5px;
  }

  .navbar-collapse{
    height: 50px !important;
  }

  .navbar-brand img{
    height: 40px;
    overflow: hidden;
  }

  ul.navbar-nav a:hover{
    background-color: #e6e6e6;
  }

  #signup{
    background-color: #f67564;
  }

  #search-header{
    width: 25%;
    display: inline-block;
  }
}