@import "user_dropdown";

#header{
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: none;
  border: none;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 0;
  box-shadow: none;
  border-radius: 0;
  z-index: 3;

  .navbar-brand{
    padding: 5px 5px 5px 15px;
  }

  .navbar-brand img{
    height: 40px;
    overflow: hidden;
  }

  .nav.navbar-nav {
    li a {
      color: #000000;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: .1em;
      
      @media (min-width: $screen-md-min) {
        font-size: 14px;
      }
    }

    li a:hover{
      color: #777777;
    }
  }

  #search-header{
    padding-left: 0;
    padding-right: 0;
    width: 39%;
    display: inline-block;
    background: none;
    border: none;

    .form-control{
      position: relative;
      left: -38px;
      border-radius: 20px;
      font-size: 14px;
      padding-left: 33px;
      border: 2px solid #000000;
      box-shadow: none;
      width: 100%;
      background: none;
    }

    .form-control:focus{
      outline: none;
      box-shadow: none;
    }

    span.input-group-btn{
      position: relative;
      top: 1px;
      z-index: 2;
      background: none;

      button.btn.btn-default{
        background: none;
        background-image: none;
        border: none;
        box-shadow: none;
        color: #000000;
      }

      button.btn.btn-default:hover{
        color: #777777;
      }

      button.btn.btn-default:focus{
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        color: #000000;
      }
    }
  }
}

@media (max-width: 600px) {
  #user-dropdown a#user-name{
    position: relative;
    left: 0;
  }

  #header #search-header{
    padding-left: 15px;
    width: 100%;
  }
}

