.close {
  &, &:hover, &:focus { outline: none; }
}

.modal-backdrop.in {
  @include opacity(1);
}

.modal-title {
  color: lighten($black, 70%);
  text-align: right;
  
  .logo {
    position: relative;
    top: -2px;
  }
}

.modal-content {
  @include box-shadow(none);
  border-radius: 0;
}

@media (min-width: $screen-sm) {
  .modal-sm { width: $modal-sm; }
  .modal-md, .modal-lg { width: $modal-md; }
}

@media (min-width: $screen-md) {
  .modal-lg { width: $modal-lg; }
}

.modal-footer {
  margin-top: 0;
  text-align: center;
}

.modal > .close {
  font-size: 35px;
  line-height: 1.0;
  padding: 10px;
  position: relative;
  z-index: ($zindex-modal + 3);
}

.signup-modal {
  .radio-inline { line-height: 25px; padding-left: 30px;
    input[type="radio"] { height: 25px; margin: {left: -30px; top: 1px;} width: 25px; }
  }
}



