$modal-width: 400px;
$form-width: 370px;
$field-width: 100%;
$field-height: 44px;

.modal-open{
	overflow: auto;
}

.modal-backdrop.in{
	opacity: 1;
	background-color: $color-white;
}

.modal{
	width: $modal-width;
	position: fixed;
	overflow-y: auto;
	top: 50px;
	left: calc(50% - 200px);
	left: -moz-calc(50% - 200px);
  left: -webkit-calc(50% - 200px);
  padding: 0;
  border: none;
  box-shadow: none;

  .modal-content{
  	box-shadow: none;
  	border: none;
  }

  .modal-header{
  	border: none;
  }

	.modal-dialog.modal-large{
		margin: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.modal-body{
			width: $field-width;
			margin: 0;
			padding: 0;

			input, button, a{
				display: block;
				width: $field-width;
				height: $field-height;
				font-size: 16px;
				font-weight: bold;
			}

			label.radio-inline{
				display: block;
				height: $field-height;
				font-size: 16px;
				font-weight: bold;
				padding: 0;

				input{
					display: inline-block;
					margin: 0;
					width: 30px;
				}

				span{
					display: inline-block;
					height: 100%;
					padding-top: 10px;
				}
			}

			.btn-third-party{
				margin: 10px auto 0;
				width: $form-width - 38px;
			}

      .form-compact{
        padding: 0px;
      }
		}
	}

	.form-horizontal{
		background: none;
		border: none;
		box-shadow: none;
	}
}
