Dear #{@investor.user.first_name},

Congratulations! Your accreditation as an accredited investor is approved. Please discover and enjoy your investing on our platform! Thank you!

Sincerely,

AlumVest Team
