- content_for :wrapper_classes, 'no-pad-top'

.masthead-campaign
  .container
    .media
      .pull-left.logotype-campaign
        = image_tag('campaign/logotype.jpg', :width => 149)
      .media-body
        %h2.upper.title-campaign.text-lato.text-book Rocking App
        %h3.summary-campaign.text-lato.text-book Connecting Doctors and Health App
        %h4.school-campaign.text-lato.text-book Universties : New york University, Columbia University, Harvard University
        %ul.list-unstyled.text-lato.text-book
          %li Lead Investors : Lynn Chen, Sasha, Alan Hua.
          %li Locations : New youk, Columbia, Canada
/ END .masthead-company

.container
  213123

