- content_for :masthead_blue do
  - content_for :wrapper_classes, 'no-pad-top'
  
  .page-header
    %h1 Wire Transfer Instructions 

.container
  %section.wrapper-page
    .page-body.text-center
      %p.text-green
        These wiring instructions will be emailed to you after your order is placed.
      
      = simple_form_for :fake_wire_transfer, :url => '', :html => {:class => 'form-horizontal'}, :wrapper => :horizontal_form, :validate => true do |f|
        = render 'shared/error_notification', :errors => f.error_notification
        
        .text-center
          .well.well-gray.display-inline.text-left
            %label.no-marg-bottom 
              Bank: 
              %span.text-primary Four Oaks Bank & Trust
            %hr
            %label.no-marg-bottom 
              Address: 
              %span.text-primary 6144 US Highway 301 South
            %hr
            %label.no-marg-bottom 
              Address: 
              %span.text-primary Four Oaks, NC 27524
            %hr
            %label.no-marg-bottom 
              Telephone: 
              %span.text-primary (919) 963-2177
            %hr
            %label.no-marg-bottom 
              Routing Number: 
              %span.text-primary 053105059
            %hr
            %label.no-marg-bottom 
              Account Number: 
              %span.text-primary 540126111356
            %hr
            %label.no-marg-bottom 
              For Credit: 
              %span.text-primary Sajil Koroth #651309492428
        .form-action.text-center
          = f.button :button, :class => 'btn btn-primary btn-lg' do
            %span.hidden-xs Return to Payment Steps
            %span.hidden-sm.hidden-md.hidden-lg Back 
