---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/linkExternalAccount
    body:
      encoding: US-ASCII
      string: bank_account_number=161477656&bank_account_type=CHECKING&bank_account_holder=Avery&bank_account_routing=011000028&investor_id=26371646098&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":167240977398,"linked_external_account":{"id":156002},"status":1}'
  recorded_at: Sun, 08 Dec 2013 18:24:14 GMT
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/createIssuer
    body:
      encoding: US-ASCII
      string: first_name=Quincy&last_name=Johns&email=maud_schowalter%40bradtkeweber.net&phone=3237313462&address_1=3378+Hintz+Well&city=Wainoburgh&state=NC&zip=76776&bank_account_number=47854719&bank_account_type=CHECKING&bank_account_holder=Noah&bank_account_routing=011000028&created_by=Quincy+Johns&internal=1&verification_required=0&reference_id=83b7bb7f-9795-43fb-86ab-48bca02e9799&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":535193921393,"id":110186565153,"bank_name":"Four Oaks
        Bank & Trust Company","account_number":"542745106713","account_routing_number":"053112505","account_type":"CHECKING"}'
  recorded_at: Sun, 08 Dec 2013 18:50:12 GMT
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/submitAgreement
    body:
      encoding: US-ASCII
      string: id=110186565153&represented_signature=Quincy+Johns&agreement_type=CLICKTHROUGH&document_text=I+agree+to+Privacy+Policy%2C+Platform+Agreement%2C+Technology+Agreement+%40+bancboxinvest.com&document_name=T%26C&document_version=1.0&client_ip_address=192.168.2.10&submit_time_stamp=2013-12-08+10%3A50%3A12&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":174022762065,"status":1,"id":529099751881}'
  recorded_at: Sun, 08 Dec 2013 18:50:12 GMT
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/createEscrowAccount
    body:
      encoding: US-ASCII
      string: name=Darren&issuer_id=110186565153&start_date=2013-12-09&close_date=2014-03-18&funding_goal=1000000.0&created_by=Darion+Rice&minimum_funding_amount=10.0&maximum_funding_amount=1000.0&securities_offered=EQUITY&issuer_signatory_name=Kyle+Escrow+Issuer&issuer_signatory_email=kyle%2Btest%2Bescrow%40alumvest.com&issuer_signatory_title=Kyle+Escrow+Title&platform_signatory_name=Lynn+Chen&platform_signatory_email=kyle%40alumvest.com&platform_signatory_title=CEO&over_funding_amount=1000000.0&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":262106678249,"id":398785659697,"project_name":"Darren","current_balance":0.00,"total_funding":0.00,"status":"OPEN
        PENDING","platform_signatory_name":"Lynn Chen","platform_signatory_title":"CEO","platform_signatory_email":"kyle@alumvest.com","issuer_id":110186565153,"issuer_reference_id":"83b7bb7f-9795-43fb-86ab-48bca02e9799","issuer_signatory_name":"Kyle
        Escrow Issuer","issuer_signatory_title":"Kyle Escrow Title","issuer_signatory_email":"kyle+test+escrow@alumvest.com","minimum":10.00,"maximum":1000.00,"start_date":"2013-12-09","close_date":"2014-03-18","securities_offered":"EQUITY","initiated_on":"2013-12-09","initiated_by":"Darion
        Rice","modified_on":"2013-12-09","modified_by":"Darion Rice"}'
  recorded_at: Mon, 09 Dec 2013 07:22:58 GMT
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/getEscrowDetails
    body:
      encoding: US-ASCII
      string: escrow_id=398785659697&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":554027248259,"id":398785659697,"project_name":"Darren","current_balance":100.0,"notional_balance":100.0,"status":"OPEN","platform_signatory_name":"Lynn
        Chen","platform_signatory_title":"CEO","platform_signatory_email":"kyle@alumvest.com","issuer_id":110186565153,"issuer_reference_id":"83b7bb7f-9795-43fb-86ab-48bca02e9799","issuer_signatory_name":"Kyle
        Escrow Issuer","issuer_signatory_title":"Kyle Escrow Title","issuer_signatory_email":"kyle+test+escrow@alumvest.com","minimum_amount":10.00,"maximum_amount":1000.00,"funding_goal":1000000.00,"over_funding_amount":1000000.00,"start_date":"2013-12-09","close_date":"2014-03-18","securities_offered":"EQUITY","initiated_on":"2013-12-09","initiated_by":"Darion
        Rice","created_on":"2013-12-09","created_by":"Darion Rice","modified_on":"2013-12-09","modified_by":"Darion
        Rice","cfp_name":"Angelshares LLC","total_amount_escrowed":0.00,"disbursement_status":"UNLOCKED","deal":"0","disbursal_started":"NO"}'
  recorded_at: Mon, 09 Dec 2013 07:22:58 GMT
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/fundEscrow
    body:
      encoding: US-ASCII
      string: fund_on_availability=N&escrow_id=932980869835&investor_id=26371646098&amount=100&bank_account_number=7461878&bank_account_type=CHECKING&bank_account_holder=Verna&bank_account_routing=011000028&text=I+authorize+BancBox+to+make+this+transaction&client_ip_address=192.168.2.106&submit_timestamp=2013-12-10+00%3A33%3A57&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":769519506859,"amount":100.00,"fund_on_availability":"Y","escrow_id":932980869835,"investor_id":26371646098,"escrow_current_balance":100.00,"investor_current_balance":0.00}'
  recorded_at: Tue, 10 Dec 2013 08:34:02 GMT
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/createInvestor
    body:
      encoding: US-ASCII
      string: first_name=Baron&last_name=Berge&email=vanea.lynch%40berge.name&phone=5921178712&address_1=133+Yundt+Crossroad&city=East+Sheaton&state=GU&zip=19983&bank_account_number=86592162&bank_account_type=CHECKING&bank_account_holder=Casper&bank_account_routing=011000028&created_by=Baron+Berge&internal=1&verification_required=0&reference_id=f665d44b-217e-412d-84e5-fd4700c1e094&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":731096080810,"id":26371646098,"bank_name":"Four Oaks
        Bank & Trust Company","account_number":"542745105177","account_routing_number":"053112505","account_type":"CHECKING"}'
  recorded_at: Fri, 13 Dec 2013 07:31:29 GMT
- request:
    method: post
    uri: https://sandbox-api.bancboxcrowd.com/crowd/v0/cfp/submitAgreement
    body:
      encoding: US-ASCII
      string: id=26371646098&represented_signature=Baron+Berge&agreement_type=CLICKTHROUGH&document_text=I+agree+to+Privacy+Policy%2C+Platform+Agreement%2C+Technology+Agreement+%40+bancboxinvest.com&document_name=T%26C&document_version=1.0&client_ip_address=192.168.2.106&submit_time_stamp=2013-12-12+23%3A31%3A29&api_key=eadcf103-8150-494d-b956-8ea78b7eac03&secret=7a28c43ccb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"request_id":129669162376,"status":1,"id":855062971306}'
  recorded_at: Fri, 13 Dec 2013 07:31:29 GMT
recorded_with: VCR 2.8.0
