:erb
  <div class="form-group">
    <%= label_tag @field, nil, :class => "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= @form.password_field @field, :class => "form-control input-md" %>
    </div>
  </div>