= render 'campaigns/management_navigation', :active => :updates, :campaign => @campaign
- if @company
  = render "form", :active => :new
  = render :partial => 'updates/update', :collection => @updates
- else
  %p You have to fill in the company data before posting updates.
