= render 'campaigns/management_navigation', :active => :updates, :campaign => @campaign
- if @company
  = render "form"
  = render @updates
- else
  %p You have to fill in the company data before posting updates.