= render 'issuers/side_navigation', :active => @active
= render 'users/header'

#information
  = link_to 'Complete your user profile', edit_user_path(@user)
  to gain access to your bank account information management.