.container.dashboard.investor-dashboard
  %h3 Investor
  .row-fluid
    .news-section.col-md-8.col-xs-12
      .investments
        %h3 Current Investments
      .news-feed
        %h3 News from Current Investments
    .col-md-4.col-xs-12
      .personal
        Profile