= render 'issuers/side_navigation', :active => 'issuer_newsfeed'
= render 'users/header'

#information
  %h4
    Your Document Signings
  %hr
    - unless @signings.empty?
      - @signgings.each do |s|

        = render :partial => 'issuer/signings/signing', :signing => s
    - else
      %p
        There are no signings here right now.
