= render 'issuers/side_navigation', :active => 'issuer_campaign_investments'

#information
  %p
    %table.table
      %thead
        %tr
          %th
            Investor
          %th
            Amount
          %th
            Status
          %th
            Created

      %tbody
        - @investments.each do |i|
          = render :partial => 'investment', :locals => {:investment => i}