.row
  .large-12.small-12.columns
    -#%h3= @campaign.title
  .large-6.small-6.columns
    %h4= "by #{@user.full_name}"
  .large-6.small-6.columns
    :erb
      <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='202784'></div>
