= image_tag(@company.banner_photo_url, :height => 400, :width => 1500)

.row
  .large-12.small-12.columns
    :erb
      <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='202784'></div>