.row
  .large-12.small-12.columns
    %ul{ "data-orbit" => "true" }
      %li
        = image_tag 'railsthemes/sample_images/sample3.jpg', :style => "width: 100%"
        .orbit-caption Hello
      %li
        = image_tag 'railsthemes/sample_images/sample4.jpg', :style => "width: 100%"
        .orbit-caption Hello
      %li
        = image_tag 'railsthemes/sample_images/sample2.jpg', :style => "width: 100%"
        .orbit-caption Hello
      %li
        = image_tag 'railsthemes/sample_images/sample1.jpg', :style => "width: 100%"
        .orbit-caption Hello