/*!
 * Project: Alumvest
 * Date: 05302014
 * 
 * Author: Eugene Tsurcan 
 * Front End Developer 
 * [http://www.linkedin.com/in/eugenetsurcan] 
 *  
 */

// Core variables and mixins
@import "variables";
@import "mixins";

// Vendor libraries
@import "bootstrap.scss";

@import "font-awesome.scss";

// Import Fonts
@import url(//fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic,700,700italic|Roboto:700,700italic,400,400italic|Open+Sans:400italic,400);


/* ==========================================================================
   Base
   ========================================================================== */

html, body { }

body { }

.root { background: darken($white, 5%); }

a, .btn {
  &, &:hover, &:focus, &:active { outline: 0 !important; }
}

// Set transitions
a, button, .btn, .form-control, .form-control-feedback { @include transition(#{all .3s}); 
  &:hover, &:focus { @include transition(#{all .08s}); }
}

// Flex Video lets browsers automatically scale video objects in your webpages
.flex-video { position: relative; padding-bottom: 67.5%; height: 0; overflow: hidden; 
  &.widescreen { padding-bottom: 56.34%; }
  &.squarescreen { padding-bottom: 100%; }
  &.vimeo { padding-top: 0; }
  
  iframe, object, embed, video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}


/* ==========================================================================
   Typography
   ========================================================================== */
@media (min-width: $screen-sm) {
  h1, .h1 { font-size: $font-size-h1-lg; }
  h2, .h2 { font-size: $font-size-h2-lg; }
}

.separator-line { overflow: hidden; text-align: center; 
  > span { display: inline-block; padding: {left: 40px; right: 40px;} position: relative; 
    &:after, &:before { background: $white; content: ''; display: block; height: 1px; position: absolute; top: 50%; width: 300%; }
    &:after { margin-right: -18px; right: 100%; }
    &:before { left: 100%; margin-left: -18px; }
  }
  
  @media (min-width: $screen-sm) {
    > span { padding: {left: 76px; right: 76px;} }
    &:after { margin-right: -38px; }
    &:before { margin-left: -38px; }
  }
}


/* ==========================================================================
   Buttons Styles
   ========================================================================== */

// Alternate buttons
// --------------------------------------------------

.btn { font-family: $font-family-open-sans; padding: {left: 30px; right: 30px;} text-shadow: none; }

.boxshadow {
  .btn { border-width: 0; padding: {top: ($padding-base-vertical + 1); bottom: ($padding-base-vertical + 1);} }
  .btn-lg { padding: {top: ($padding-large-vertical + 1); bottom: ($padding-large-vertical + 1);} }
  .btn-sm { padding: {top: ($padding-small-vertical + 1); bottom: ($padding-small-vertical + 1);} }
  .btn-xs { padding: {top: ($padding-xs-vertical + 1); bottom: ($padding-xs-vertical + 1);} }
  .btn-xl {
    @media (min-width: $screen-lg) { font-size: 26px; padding: {top: 20px; bottom: 20px;} }
  }
  
  .btn-default {
    @include button-variant-hover($btn-default-color, $btn-default-bg, $btn-default-border);
  }
  .btn-primary {
    @include button-variant-hover($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  }
  // Success appears as green
  .btn-success {
    @include button-variant-hover($btn-success-color, $btn-success-bg, $btn-success-border);
  }
  // Info appears as blue-green
  .btn-info {
    @include button-variant-hover($btn-info-color, $btn-info-bg, $btn-info-border);
  }
  // Warning appears as orange
  .btn-warning {
    @include button-variant-hover($btn-warning-color, $btn-warning-bg, $btn-warning-border);
  }
  // Danger and error appear as red
  .btn-danger {
    @include button-variant-hover($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }
  
  .btn-transparent { border-width: 1px; padding: {top: $padding-base-vertical; bottom: $padding-base-vertical;} 
    &.btn-xl {
      @media (min-width: $screen-lg) { border-width: 2px; padding: {top: 18px; bottom: 18px;} }
    }
  }
}

// Transparent 
.btn-transparent {
  @include button-variant-transparent($white, mix($blue, $white));
  
  &.btn-xl {
    @media (min-width: $screen-lg) { border-width: 2px; padding: {top: 18px; bottom: 18px;} }
  }
}

// Extra large btn
.btn-xl { @extend .btn-lg;
  @media (min-width: $screen-lg) { font-size: 26px; padding: {top: 19px; bottom: 19px;} }
}


/* ==========================================================================
   Form Styles
   ========================================================================== */
.form-control { font-weight: normal;
  &, &:focus { @include box-shadow(none); }
  &:focus { color: $blue-light; }
}

// Form control feedback states
.has-feedback {
  .form-control { border-radius: 0 100px 100px 0; 
    &:focus + .form-control-feedback { background: $input-border-focus; }
  }
  .form-control-feedback { background: $input-border; border-radius: 100px; color: $white; }
}

label { font: {size: 17px; weight: normal;} }

// Horizontal forms
.form-horizontal {
  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  @media (min-width: $screen-sm-min) {
    .control-label { padding-top: ($padding-base-vertical + 1) - 2; }
  }
  
  .form-control-static {
    font-size: 12px;
    padding-top: ($padding-base-vertical + 2);
    padding-bottom: ($padding-base-vertical + 2);
  }
}

.form-group { margin-bottom: 19px; }

.form-action { margin-top: 22px; }


/* ==========================================================================
   Navs Styles
   ========================================================================== */
.nav { font-family: $font-family-serif;
  > li {
    > a { @include transition(none);
      &:hover, &:focus { background-image: none; filter: none; color: $white; }
    }
    
    @media (min-width: $screen-md) {
      > a {
        &:hover, &:focus { font-weight: bold; }
      }
      
      &.active > a { font-weight: normal; }
    }
  }
}

.nav-pills {
  > li > a { color: $gray; }
  
  > li.active > a {
    &, &:hover, &:focus { background-image: none; filter: none; }
  }
}

.nav-stacked {
  > li { border-bottom: 1px solid $gray-lighter; @include box-shadow(inset 0 -1px 0 0 $white);
    + li { margin-top: 0; }
    
    > a { background: #fbfbfb; @include gradient-vertical($white, #f9f9f9); }
  }
}


/* ==========================================================================
   Header Styles
   ========================================================================== */
.header { background: $white; @include box-shadow(0 2px 5px rgba($black, .1)); border: 0 none; font-weight: bold; text-transform: uppercase;
  @media (min-width: $screen-sm) { 
    & { font-size: 11px; }
    .dropdown-menu { font-size: 12px; }
  }
  
  @media (min-width: $screen-md) {
    .dropdown-menu, & { font-size: 14px; }
  }
  
  .nav { font-family: inherit; }
  
  .navbar-brand { padding: {top: (($navbar-height - 36) / 2); bottom: (($navbar-height - 36) / 2);} }
  
  .navbar-nav > li {    
    > a { 
      @media (min-width: $screen-sm) { padding: {left: 10px; right: 10px;} 
        &:hover, &:focus { background: none transparent; }
      }
      
      @media (min-width: $screen-md) { padding: {left: 15px; right: 15px;} }
    }
    
    &.active > a { @include box-shadow(inset 0 -1px 8px rgba($black, .2)); cursor: default; }
    
    &.inverse {
      > a { color: $navbar-default-link-hover-color; 
        &:hover, &:focus { color: $navbar-default-link-color; }
      }
      
      &.open > a { color: $white; }
    }
  }
  
  .search-fr {
    @media (min-width: $screen-sm) { margin: {top: 2px; bottom: 2px;} }
    
    .navbar-form { margin: {left: 0; right: 0;} }
  
    .form-control, .form-control-feedback { background: darken($white, 5%); border-radius: 100px; color: $gray-dark; }
    
    .form-control { border-color: darken($white, 5%); @include placeholder($gray-dark);
      &:focus { background: $white; border-color: $input-border-focus !important; color: $blue-light;
        + .form-control-feedback { background: $input-border-focus; color: $white;
          &:hover, &:focus { background: darken($input-border-focus, 10%); color: $white; }
        }
      }
    }
    
    .form-control-feedback { border: 0 none; @include box-shadow(none); margin: 0; padding: 0; top: 0; }
    
    &:hover {
      .form-control { border-color: darken($white, 15%); }
      .form-control-feedback { background: darken($white, 15%); }
    }
    
    &.expanded {
      .form-control { width: 100%; }
    }
    
    @media (min-width: $screen-sm) {    
      .form-control { padding: {left: 0; right: 0;} width: $input-height-small; }
      
      &.expanded {
        .form-control { padding: {left: $padding-small-horizontal; right: ($input-height-base * 1.25);} width: 125px; }
      }
    }
    
    @media (min-width: $screen-md) {
      &.expanded {
        .form-control { width: 185px; }
      }
    }
  }
}

.no-boxshadow .header { border-bottom: 1px solid darken($white, 10%); }


/* ==========================================================================
   Menu Styles
   ========================================================================== */
  

/* ==========================================================================
   Main Styles
   ========================================================================== */
  
/**
 * Wrapper Content
 */ 
.wrapper-content { padding: {top: 30px; bottom: 60px;} 
  @media (min-width: $screen-sm) { min-height: 500px; padding: {top: 69px; bottom: 140px;} }
}

// Catchall baseclass
.glyphicon { font-family: 'Glyphicons Halflings' !important; } 

/**
 * Dashboard
 */ 
.wrapper-dashboard { background: #f7f7f7; border: 2px solid $white; border-radius: 4px; @include box-shadow(0 0px 8px rgba($black, .1));
  // Dashboard Content (right info)
  .dashboard-content { background: $white; @include box-shadow(-8px 0 10px -7px rgba($black, .1)); @include clearfix; min-height: 792px; padding: 24px 37px 20px; 
    h1 { margin-bottom: 25px; 
      @media (min-width: $screen-sm) { margin-bottom: 39px; }
    }
  }
  
  // Dashboard Navigation (left info)
  .dashboard-nav { font-size: 11px; margin-right: (-$grid-gutter-width - 2px); 
    .nav-pills > li {
      > a { text-align: center;
        .fa { font-size: 18px; }
        
        @media (min-width: $screen-sm) {
          .fa { display: block; font-size: 24px; margin: 0 auto 8px; }
        }
        
        @media (min-width: $screen-md) { padding: {left: 25px; right: 25px;} text-align: left; 
          .fa { display: inline-block; font-size: inherit; margin: 0 12px 0 0; }
        }
      }
      
      &.active { position: relative; z-index: 5; }
      
      &:first-child {
        &, > a { border-radius: 4px 0 0 0; }
      }
    }
    
    @media (min-width: $screen-md) { font-size: 14px; }    
    @media (min-width: $screen-lg) { font-size: 16px; }
  }
}

.no-boxshadow .wrapper-dashboard .dashboard-content { border-left: 1px solid $gray-lighter; }

.account-info-fr {
  @media (min-width: $screen-sm) {
    .control-label { white-space: nowrap; width: 105px; }
    .form-action > * { margin-left: 105px; }
  }
}

/**
 * Whant next Unit
 */
.what-next-unit { background: image-url("bg-what-next-unit.jpg") center center repeat $black; background-size: cover; color: $white; padding: {top: 62px; bottom: 75px;} text-align: center; 
  h2 { margin-bottom: 83px; }
}

/**
 * Featured Unit
 */
.featured-unit { background: #f6f6f6; color: $black; padding: 31px 0 40px; text-align: center; 
  .wrapper-logos { margin-top: 45px;
    .wrap-img { display: block; height: 0; overflow: hidden; position: relative; padding-bottom: 19%;      
      img { height: 100%; left: 0; margin-top: -9.5%; position: absolute; top: 50%; }
    }
  }
}


/* ==========================================================================
   Footer Styles
   ========================================================================== */
.footer { background: $white; font: {family: $font-family-open-sans; size: 12px;} padding: 47px 0 0;
  // Navigation Footer
  .nav-footer { border-bottom: 1px solid #f2f2f2; color: $gray-darker; margin-bottom: 20px; text: {align: center; transform: uppercase;}
    a { color: $gray-darker; text-decoration: none;
      &:hover, &:focus { color: $blue; }
    }
  
    .breadcrumb { background: none transparent; border-radius: 0; display: inline-block; margin-bottom: 20px; padding: 0; 
      > li { margin-bottom: 10px;
        + li:before { content: "|"; color: $gray-darker; position: relative; top: -2px; }
      }
    }
    
    @media (min-width: $screen-md) { border-bottom: 0 none; margin: 7px 0 0; text-align: left;
      .breadcrumb { display: block; margin-bottom: 10px; }
    }
  }
  
  // Follow us Unit
  .wrapper-follows { text-align: center;
    .follow-us-unit { display: inline-block;
      h5 { float: left; margin: {top: 6px; right: 12px;} }
      
      .list-soc { font-size: 15px; float: left; 
        .list-inline > li { padding: {left: 0; right: 0;} }
        
        .soc-twitter a { color: $twitter-blue; 
          &:hover, &:focus { color: darken($twitter-blue, 10%); }
        }
        .soc-facebook a { color: $facebook-blue; 
          &:hover, &:focus { color: darken($facebook-blue, 10%); }
        }
        .soc-linkedin a { color: $linkedin-blue; 
          &:hover, &:focus { color: darken($linkedin-blue, 10%); }
        }
      }
    }
    
    @media (min-width: $screen-md) { text-align: right; }
  }
  
  // Copyright
  .copyright { border-top: 1px solid #f2f2f2; color: #ababab; margin-top: 5px; padding-top: 11px;
    .left-info { margin-top: 10px; text-align: center; }
    .right-info { text-align: center; }
    
    @media (min-width: $screen-sm) {
      .left-info { text-align: left; }
      .right-info { text-align: right; }
    }
  }
}


/* ==========================================================================
   Special Classes
   ========================================================================== */
  
.no-marg-top { margin-top: 0 !important; }
.no-marg-bottom { margin-bottom: 0 !important; }

.marg-top { margin-top: 22px !important; }
.marg-bottom { margin-bottom: 22px !important; }
.marg-right { margin-right: 15px !important; }
.marg-left { margin-left: 15px !important; }

.lower { text-transform: lowercase !important; }
.upper { text-transform: uppercase !important; }

.text-center-sm { text-align: center; 
  @media (min-width: $screen-md-min) { text-align: inherit; }
}

.strong, .bold { font-weight: bold; }
.stronger, .bolder { font-weight: bolder; }

.nowrap { white-space: nowrap !important; }

.col-centered { float: none; margin: 0 auto; }



// NEED TO DELETE IN FUTURE

// import mixins, variables and functions
@import "core/color";
@import "core/font";

@import "layout/header";
@import "layout/modal";
@import "layout/buttons";
@import "layout/footer";

@import "home/main";
@import "users/main";
@import "company/main";
@import "dashboard/main";

@import "content/team";
@import "content/privacy";
@import "content/how-it-works";

