/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/
.brand {
  float: left;
  padding-right: 8px;
}

ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.nav li {
  display: inline;
}

.homepage-featured-companies .company-title{
  min-height: 80px;
  padding-top: 20px;
}

.homepage-featured-companies .company-headline{
  min-height: 60px;
}

@font-face {
    font-family: 'Redacted regular';
    src: font-url('redacted-regular.eot');
    src: font-url('redacted-regular.eot?#iefix') format('embedded-opentype'),
         font-url('redacted-regular.woff') format('woff'),
         font-url('redacted-regular.ttf') format('truetype'),
         font-url('redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Redacted script bold';
    src: font-url('redacted-script-bold.eot');
    src: font-url('redacted-script-bold.eot?#iefix') format('embedded-opentype'),
         font-url('redacted-script-bold.woff') format('woff'),
         font-url('redacted-script-bold.ttf') format('truetype'),
         font-url('redacted-script-bold.svg#redacted_scriptbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Redacted script light';
    src: font-url('redacted-script-light.eot');
    src: font-url('redacted-script-light.eot?#iefix') format('embedded-opentype'),
         font-url('redacted-script-light.woff') format('woff'),
         font-url('redacted-script-light.ttf') format('truetype'),
         font-url('redacted-script-light.svg#redacted_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Redacted script regular';
    src: font-url('redacted-script-regular.eot');
    src: font-url('redacted-script-regular.eot?#iefix') format('embedded-opentype'),
         font-url('redacted-script-regular.woff') format('woff'),
         font-url('redacted-script-regular.ttf') format('truetype'),
         font-url('redacted-script-regular.svg#redacted_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.redacted-bold {
  font-family: 'Redacted script bold'
}

.redacted {
  font-family: 'Redacted script'
}

