// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard{
  padding-left: 30px;
  h1 {
    margin-top: 0;
    color: #19ADEA;
  }
  h4 {
    color: #19ADEA;
    font-weight: bold;
  }
  hr {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .block{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #F5F5F5;
    .block-header{
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      color: #19ADEA;
      background-color: #F5F5F5;
    }
    .block-body{
      padding: 5px 10px;
      table{
        border: 1px solid #E5E5E5;
        border-collapse: separate;
      }
    }
  }
  .user-profile{
    min-height: 128px;
    .user-profile-avatar{
      width: 128px;
      height: 128px;
      float: left;
      text-align: center;
      padding-right: 24px;
    }
    .user-profile-name{
      font-size: 22px;
    }
    .user-profile-location{
      font-size: 14px;
    }
    .user-profile-schools{

    }
  }
  .follows{
    padding-bottom: 10px;
  }
}
