// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
	margin: 0;
}

#feature{
	background-color: #939393;
	opacity: 0.8;
	display: block;
	min-height: 120px;

}

