%p
  = 'You encountered an error when you submitted an '
  = link_to 'income verification request', user_investor_income_verification_path(veritax_order_submitted_with_error.investor.user)
  = "to Veri-Tax #{time_ago_in_words(veritax_order_submitted_with_error.created_at)} ago."