= render 'issuers/side_navigation', :active => 'issuer_newsfeed'

#information
  %h4
    Your Issuer Newsfeed
  %p
    Recent activity related to you and your campaign.
  %hr
    - unless @events.blank?
      = render @events
    - else
      %p
        There are currently no newsfeed events to view.