<div class="form-group">
  <%= label_tag @field, @label, :class => "col-md-4 control-label" %>
  <div class="col-md-8">
    <% if Rails.env.test? %>
        <%= @form.text_area @field, :class => "form-control input-md" %>
    <% else %>
        <%= @form.text_area @field, :class => "form-control input-md ckeditor" %>
    <% end %>
  </div>
</div>