%h4= title
= f.semantic_fields_for grouping do |member|
  = render 'documents_fields', {:f => member}
  .links
    = link_to_add_association 'Add another', f, grouping, :partial => 'documents_fields', :force_non_association_create => true