= render_cell "tb/form/subhead", :display, :label => title

= f.fields_for grouping do |member|
  = render 'documents_fields', {:f => member}

  .form-group
    .col-md-8.col-md-offset-4
      = link_to_add_association 'Add another file', f, grouping, :partial => 'documents_fields', :force_non_association_create => true, :class => 'btn btn-default btn-xs'
