// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nav-tab-height: 37px;

.nav-stacked {
  padding-right: 1em;
  border-right: 1px solid #f67564;
}

#title{
	min-height: 100px;

	h1{
		font-weight: bolder;
	}
}

#information{
	padding-top: 0;

	form{
		background-image: none;
		background: none;
		background-color: #ffffff;
		border: none;
		box-shadow: none;

		hr{
			border: none;
		}
	}
}

#tabsContent .tab-pane .form-row{
	width: 100%;
	height: 50px;

	div{
		height: 20px;
		position: relative;
		top: 15px;
		color: #777;
	}

	b{
		font-weight: normal;
		font-size: 15px;
	}

	div.form-label b{
		font-weight: bold;
		font-size: 15px;
	}

	div.form-label{
		text-align: right;
		color: #888888;
	}
}

#user-profile-nav{
	border: none;

	li{
		width: 50%;
		text-align: center;
	}

	li a{
		background-color: #3887be;
		border-radius: 0;
		color: #ffffff;
		height: $nav-tab-height;
	}

	li a:hover{
		border: none;
		background-color: #3bb2d0;
		height: $nav-tab-height;
	}

	li.active a{
		height: $nav-tab-height;
		border: none;
		background-color: #3bb2d0;
	}
}



#sidebar{
	padding-top: 25px;
	padding-left: 0;
	padding-right: 0;

	ul{
		border: none;
	}

	.nav-stacked li{
		height: $nav-tab-height;
		text-transform: uppercase;
	}

	.nav-stacked li a{
		display: block;
		height: 100%;
		width: 100%;
		color: #ffffff;
		text-align: right;
		background-color: #3887be;
	}

    .nav-stacked li a.disabled {
 		background-color: darkgray;
 	}

	.nav-stacked li a:hover{
		background-color: #3bb2d0;
		color: #ffffff;
	}

    .nav-stacked li a.disabled:hover {
	  background-color: darkgray;
    }

	.nav-stacked li.active{
		a{
			color: #ffffff;
			background-color: #3bb2d0;
		}
	}
}

#main-content{
	padding-top: 25px;
	padding-right: 0;
	padding-bottom: 30px;

	.sub-title{
		text-align: right;
		width: 33%;
	}

	.button_to .btn{
		height: 32px;
		margin-left: 33.3%
	}

	.btn{
		background-color: #1ABC9C;
		border: none;
		min-width: 163px;
		width: auto;
		height: 32px;
		border-radius: 4px;
		background-image: none;
		-webkit-appearance: none;

		margin-top: 10px;
		margin-bottom: 10px;

		font-family: 'Open Sans', sans-serif;
		line-height: 100%;
		color: $color-white;
		font-size: 15px;
		font-weight: bold;
		text-shadow: none;

		text-align: center;
		vertical-align: middle;

        // position: relative;
		left: 241px;

		&:focus{
			outline: none;
		}
	}

	form{
		input.btn{
			width: auto;
			height: auto;
		}
	}

	.form-row{
		min-height: 35px;
		height: auto;
		vertical-align: middle;
		margin-right: 0;
		line-height: 20px;
		padding-bottom: 10px;

		.form-label{
			vertical-align: middle;
			font-size: 14px;
		}

		.form-value{
			font-size: 14px;
			font-style: normal;

			img{
				max-width: 100%;
			}

			.company-video iframe{
				max-width: 100%;
			}
		}
	}

	.editing-form{
		border-radius: 0;
		background: none;
		border: none;
		box-shadow: none;

		hr{
			display: none;
		}

		fieldset .form-group{
			min-height: 35px;
			vertical-align: middle;
			margin-right: 0;
			line-height: 20px;

			.control-label{
				vertical-align: middle;
				font-size: 14px;
			}

			.btn{
				line-height: 100%;
				position: relative;
				left: 0;
			}
		}

		fieldset .links{
			padding-left: 6px;

			a:hover{
				text-decoration: none;
				color: #428bca;
			}
		}
	}
}
