<div class="form-group">
  <%= label_tag @field, @label, :class => "col-md-3 control-label" %>
  <div class="col-md-7">
    <% unless Rails.env.test? %>
        <%= @form.filepicker_field @field, @type, :html_options => {:class => 'btn btn-primary'}, :delete_button_html => 'Remove' %>
    <% end %>
  </div>
</div>
