.form-group
  = label_tag @field, @label, :class => "col-md-4 control-label"
  .col-md-8
    - unless Rails.env.test?
      = @form.filepicker_field @field, @type, :html_options => {:class => 'btn btn-default'}, :delete_button_html => 'Remove'