.container
  .row
    .col-md-12
      %h3 Subscription agreement
      = link_to "Complete this item", campaign_investment_subscription_agreement_path(@campaign, @investment), :method => :put, :class => 'btn btn-default'