.container
  .row
    .col-md-12
      %h3 Subscription agreement
      = link_to "Complete this item", campaign_investment_finalization_subscription_agreement_path(@campaign, @investment_finalization), :method => :put, :class => 'btn btn-default'