/* This file is included as part of the Meta theme from
 RailsThemes.com, which is licensed for use in a single website. The
 license can be found in the doc folder of this application or at
 railsthemes.com/terms. */

@import "compass/css3";
@import "railsthemes_meta/colors";
@import "railsthemes_meta/foundation_setup";
@import "gem_support";

/** Foundation Overrides for Meta: **/

.switch.large.round.large-1 {
  width: 10%;
  min-width: 85px;
}
.switch.tiny.large-1 {
  width: 7%;
  min-width: 50px;
}


/** Meta Layout **/
html {
  background: $body-bg;
}

#header {
  border-top: solid 2px $muted-color;
  border-bottom: solid 2px $muted-color;
  margin-bottom: 20px;
  .contain-to-grid {
    background: $main-nav-background;
    padding-top: $main-nav-padding;
    padding-bottom: $main-nav-padding;
  }
  .logo {
    font-family: 'Rokkitt', $header-font-family;
    font-size: 32px;
    color: $lightest;
    margin-bottom: 0;
    max-width: 100%;
    @include text-shadow(0 1px 1px rgba(0,0,0,.75));
  }
}

#header, #footer {
  @include box-shadow(0 0 7px 1px rgba(0,0,0,.25));
  @include text-shadow(0 1px 1px rgba(0,0,0,.75));
  * {
    color: $lightest;
  }
  ul.main {
    text-transform: uppercase;
    li a:hover {
      background-color: $muted-color;
    }
  }
  ul.button-group {
    margin: 0;
    * {
      color: $main-nav-text;
    }
    &.top {
      line-height: 44px;
      a {
        font-weight: 300;
      }
    }
    background: transparent;
    .button {
      border: none;
      margin-bottom: 0;
      @include box-shadow(none);
      @include border-radius(0);
      font-weight: bold;
      @include background-image( none );
    }
  }
}

#footer {
  margin-top: 50px;
  background: $main-nav-background;
  padding-bottom: $main-nav-padding;
  padding-top: $main-nav-padding;
  color: $neutral;
  ul.main {
    li {
      margin: 0;
      a {
        @include button;
        border: none;
        margin-bottom: 0;
        @include box-shadow(none);
        @include border-radius(0);
        font-weight: normal;
        @include background-image( none );
      }
    }
  }
  .row {
    .columns {
      min-height: 225px;
      & > * {
        margin-top: 0;
      }
      & > hr {
        margin: 1.5em 0 1.5em 0;
      }
    }
    .columns {
      padding-right: 60px;
    }
    .columns + .columns {
      border-left: 1px solid $muted-color;
      padding-left: 60px;
      padding-right: 0;
    }
  }
}

/* sticky footer from: https://gist.github.com/TechnologyArchitectureLLC/5123485 */
body {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -305px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 305px; /* .push must be the same height as .footer */
}

/** Landing Pages **/

/** Theme-wide Styling of Individual Elements **/

h1 {
  &.title { margin-top: 0; }
}

h3 {
  color: $mild;
}

h2, h5 {
  color: $primary-color;
}

h4, h5 {
  font-family: 'Rokkitt', "museo-slab",serif;
}

.centered {
  text-align: center;
}

.majorheading {
  border-bottom: 1px solid $neutral;
  padding-bottom: 0.5em;
  text-align: center;
  margin-bottom: 1em;
}

.row.roomy {
  margin-bottom: 1em;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.plain,
ul.shipping_options {
  list-style-type: none;
}

hr.greyscale {
  border-color: $mid-neutral;
}

/* Errors */

.ui-widget {
  .ui-state-highlight, .ui-state-error {
    & > p {
      margin: 7px;
    }
  }
}

/* Theme-specific deliciousness: */
#sample_index {
  .columns:nth-child(3n+1) {
    clear: both;
  }
}

$feature_margin: 4em;
#alternating_features .feature_set {
  .row.feature {
    margin-bottom: $feature_margin;
  }
  & > .row.feature:nth-child(2n) {
    .explanation {
      padding-right: $feature_margin / 2;
    }
    .example {
      padding-left: $feature_margin / 2;
    }
  }
  & > .row.feature:nth-child(2n+1) {
    .example {
      float: left;
      padding-right: $feature_margin / 2;
    }
    .explanation {
      padding-left: $feature_margin / 2;
      float: right;
    }
  }
}

.row.wide_products > .columns {
  &:first-child{
    padding-right: 2em;
  }
  &:last-child{
    padding-left: 2em;
  }
}
.panel.product {
  min-height: 220px;
  @include box-shadow(0 0 4px rgba(0,0,0,.35));
  @include border-radius($global-radius);
  background-color: $light-neutral;
  margin-bottom: 4em;
  h1, h2, h3, h4, h5, h6, button, .button, input[type=submit] {
    margin-bottom: 0;
    margin-top: $em-base;
  }
}

img.pop-out.left {
  margin: -9px 10px 10px -30px;
}


/** Pricing Tables **/

$pricing-grid-featured-background: $light-neutral;
$pricing-grid-prices-text: $primary-color;
$pricing-grid-check-color: $muted-color;
$pricing-grid-border: $darkest;
$headers-height: emCalc(45px);
$features-height: emCalc(35px);

@mixin feature( $highlighted-column, $pricing-grid-featured-border ){
  thead {
    tr:first-of-type {
      th {
        &:nth-of-type(#{$highlighted-column}) h3 {
          line-height: $headers-height;
          @include background-image(linear-gradient($primary-color, $muted-color));
          @include border-corner-radius(top, left, 5px);
          @include border-corner-radius(top, right, 5px);
        }
      }
    }
  }
  tfoot tr {
    th, td {
      div {
        background-color: transparent;
        border: none;
      }
    }
  }
  tfoot tr th:nth-of-type(#{$highlighted-column}) {
    padding: 0;
  }
  tbody tr:nth-of-type(odd) > *:nth-of-type(#{$featured-pricing-level}),
  tfoot tr th:nth-of-type(#{$highlighted-column}) div {
    background: $pricing-grid-featured-background;
  }
  tbody tr > *:nth-of-type(#{$featured-pricing-level}),
  tfoot tr th:nth-of-type(#{$highlighted-column}) div {
    border-left: solid 1px $pricing-grid-featured-border;
    border-right: solid 1px $pricing-grid-featured-border;
  }
  tfoot tr th:nth-of-type(#{$highlighted-column}) div {
    border-bottom: solid 1px $pricing-grid-featured-border;
    @include border-corner-radius(bottom, left, 3px);
    @include border-corner-radius(bottom, right, 3px);
    margin-right: -1px;
  }
}


table.pricing {
  @include feature($featured-pricing-level, opacify($pricing-grid-border, 0.5));
  background-color: transparent;
  border: none;
  border-collapse: collapse;
  td, th {
    text-align: center;
    padding: 0;
    border: none;
    font-size: emCalc(18px);
    line-height: emCalc(30px);
    font-weight: normal;
    color: $body-font-color;
  }
  thead {
    background-color: transparent;
    tr:first-of-type {
      th {
        vertical-align: bottom;
        h3 {
          border: none;
          font-size: emCalc(20px);
          font-family: $sans-serif-font-family;
          font-weight: normal;
          line-height: $features-height;
          font-weight: 500;
          background-color: $primary-color;
          @include background-image(linear-gradient($dark, $darkest));
          color: $body-bg;
          min-width: 120px;
          margin: 0;
          padding: 0 0.75em;
        }
        /* First Column */
        &:nth-of-type(1) h3 {
          @include border-corner-radius(top, left, 5px);
        }
        /* Last Column/Pricing Tier */
        &:last-of-type h3 {
          @include border-corner-radius(top, right, 5px);
        }
      }
    }
  }
  tbody th, tbody td {
    padding: 0.75em;
    text-align: center;
  }
  tfoot button, tfoot .button {
    margin: 0.75em;
  }
  tbody {
    tr {
      &:nth-of-type(even) { background: $neutral; }
      td { color: $pricing-grid-check-color; }
    }
  }
  tfoot {
    background-color: transparent;
    th {
      color: $pricing-grid-prices-text;
      font-size: $headers-height * .5;
      line-height: $headers-height;
      &:first-of-type { font-size: $headers-height * .4; }
    }
  }
}

table.pricing.with_features_column {
  @include feature($featured-pricing-level+1, $mid-neutral);
  thead {
    tr:first-of-type {
      th {
        h3 {
          line-height: $headers-height;
          @include border-radius(0);
        }
        &:nth-of-type(#{$featured-pricing-level+1}) h3 {
          @include border-radius(0);
        }
        &:nth-of-type(even) h3 {
          @include background-image(linear-gradient($primary-color, $muted-color));
        }
        &:nth-of-type(odd) h3 {
          @include background-image(linear-gradient($primary-color, mix($primary-color, $muted-color)));
        }
        /* Features Column */
        &:first-child h3{
          font-size: emCalc(20px);
          line-height: $features-height;
          font-family: $header-font-family;
          font-weight: 500;
          @include background-image(linear-gradient($dark, $darkest));
          @include border-corner-radius(top, left, 5px);
        }
        /* First Actual Price Tier */
        &:nth-of-type(2) {
          h3 {
            @include border-corner-radius(top, left, 5px);
          }
        }
        /* Last Price Tier */
        &:last-of-type h3 {
          @include border-corner-radius(top, right, 5px);
        }
      }
    }
  }
  tbody {
    border: none;
    tr {
      th:first-child {
        padding: 0.25em 0.75em;
        line-height: $features-height;
        text-align: left;
        border-right: 1px solid $pricing-grid-border;
      }
    }
  }
  tfoot {
    background-color: transparent;
    border-top: 1px solid $pricing-grid-border;
  }
}

/* Forms */
$mildest: mix($lightest, $mild);

form {
  font-size: emCalc(15px);

  h4 {
    color: darken($primary-color, 10%);
  }

  .fields {
    padding: emCalc(20px);
    border-bottom: 1px solid $mildest;

    &.disabled {
      background-color: $neutral;
    }

    &:last-child{
      border-bottom: none;
    }
  }

  label, note, hint {
    display: inline-block;
  }

  label {
    white-space: nowrap;
  }

  note, hint {
    color: $medium-color;
    font-size: 0.675em;
    font-style: italic;
  }

  hint {
    color: $alert-color;
  }

  input:not([type="submit"]),
  input:not([type="checkbox"]),
  textarea{
    color: $mild;
    border: 1px solid $mild;
    font-size: inherit;

    &:focus, &:active{
      color: $dark;
      background-color: $lightest;
      border-bottom: 2px solid $primary-color;
    }

    &.error {
      border: 1px solid $alert-color;
    }
  }
  input[type="file"] {
    border: none;
    &:focus, &:active{
      border: none;
    }
  }
  select {
    -webkit-appearance: menulist;
    font-size: inherit;
    display: inline-block;
    position: relative;
    top: emCalc(-3px);
    margin-bottom: 1em;
  }
}

form.inline {
  label{
    width: 20%;
  }

  input:not([type="submit"]),
  input:not([type="checkbox"]),
  textarea,
  select{
    display: inline-block;
    width: 78%;
  }

  note,hint {
  }
}

form.smooth {
  font-size: emCalc(16px);

  label {
    font-weight: bold;
    color: $medium-color;
    padding-bottom: emCalc(2px);

    &.error {
      color: $alert-color;
    }
  }

  input:not([type="submit"]),
  input:not([type="checkbox"]),
  textarea {
    font-size: inherit;
    color: $medium-color;
    border: none;
    @include border-radius;
    box-shadow: inset 0 2px 6px 0 $mildest, 0 0 0 1px $mild;

    &[disabled]{
      background-color: $mildest;
    }

    &.error {
      box-shadow: none;
      border: 1px solid $alert-color;
    }

    &.error:focus {
      box-shadow: inset 0 2px 6px 0 $mildest, 0 0 0 1px $mild;
    }

    &.smallest {
      max-width: 5em;
    }

    &.smaller {
      max-width: 8em;
    }
  }

  select{
    -webkit-appearance:none;
    @include border-radius;
    @include background-image(linear-gradient($lightest, $neutral, $lightest));
    box-shadow: 2px 2px 3px 0 $neutral;
    font-size: inherit;
    border: 1px solid $mild;
    padding: emCalc(10px);
    color: $medium-color;
  }

  input[type="checkbox"]{
    display: inline-block;
    position: relative;
    top: -1px;
  }
}

form.compact {
  font-size: emCalc(13px);

  input:not([type="submit"]),
  input:not([type="checkbox"]),
  select,
  textarea {
    -webkit-appearance: none;
    box-shadow: none;
    color: $dark;
    background-color: $lightest;
    border: none;
    border-left: 1px solid $mildest;
    border-bottom: 1px solid $mild;
    font-weight: bold;

    &:focus, &:active {
      border-bottom: 1px solid $primary-color;
    }

    &::-webkit-input-placeholder {
      font-weight: normal;
      color: $medium-color;
      font-style: italic;
    }
  }

  select {
    font-weight: normal;
    font-style: italic;
    @include border-radius;
    padding: emCalc(8px);
    color: $medium-color;

    option{
      color: $dark;

      &:first-child {
        color: $mild;
      }
    }
  }
}
/* Code Viewer */
@mixin serif-font {
  font-family: $header-font-family;
}

@mixin sans-serif-font {
  font-family: $body-font-family;
}

@mixin container-shadow {
  box-shadow: 6px 6px 0 $mild;
}

.example-set {
  .example-header {
    h3 {
      display: block;
      margin: 0;
      z-index: 1;
    }

    code {
      display: inline;
      background-color: transparent;
      font-size: emCalc(26px);
      font-style: italic;
      overflow: hidden;
      color: $dark;
      @include opacity(0.1);
    }
  }
  .section-container section,
  .section-container .section,
  .section-container.auto section,
  .section-container.auto .section {
    background-color: $lightest;
    box-shadow: inset 0px 5px 20px 0 $lightest;

    p.title {
      cursor: default;
      padding: emCalc(5px) 0;
      border: none;
      background: transparent;
      color: $dark;

      a {
        padding: 0 emCalc(5px);
        color: $primary-color;
        text-decoration: none;
        color: darken($primary-color, 10%);
      }

      span.t {
        cursor: default;
        padding: 0 emCalc(10px);
        font-weight: bold;
        font-size: emCalc(12px);
        color: $medium-color;
      }
    }

    &.active {
      border: none;

      .title{
        background: transparent;

        a {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    &:first-child .title:first-child a {
      padding: 0;
      padding-right: emCalc(10px);
      box-shadow: 1px 0 0 $mild, 2px 0 0 $lightest;
    }

    &:last-child .title {
      border-right: none;
    }

    div.content {
      border: none;
      padding: 0;
    }
  }

  .section-container section.active span.content,
  .section-container .section.active span.content, .section-container.auto section.active span.content,
  .section-container.auto .section.active span.content {
    display: inline;
    padding: 0;
    border: none;
  }
}
.section-container.tabs > .section .content {
  position: static;
}

.reveal-modal.example {
  h3 {
    margin: 0;
  }
  p.lead {
    font-weight: bold;
    color: $medium-color;
  }
}

.source-code {
  border: 1px solid $mild;
  padding: 1px;
  @include border-radius;
}

table.CodeRay {
  border: none;
  border-spacing: 0;
  margin: 0;
  width: 100%;

  tr {
    td {
      border: none;
      &.code {
        background-color: $lightest;
      }
    }

    td.line-numbers {
      border-right: 1px solid $mild;

      p {
        margin: 0;
        padding: 0 emCalc(5px);
      }
    }

    td.code {
      pre {
        line-height: emCalc(24px);
        padding-top: 2px;
      }
      span.tag,
      span.class {
        display: inline-block;
        margin-bottom: 3px;
      }
      span.line-break {
        display: block;
        margin-bottom: 3px;
      }
    }

    td.format {
      dl.sub-nav {
        margin: 0;
        padding: 0;
        text-align: right;

        dd, dt, dd.active, dt.active {
          display: inline;
          float: none;
          @include sans-serif-font;
          margin: 0;
          padding: 0;

          a {
            font-weight: normal;
          }
        }

        dd:not(.active) a, dt:not(.active) a{
          color: $medium-color;
        }
      }
    }
  }
}

code {
  display: block;
  max-height: 800px;
  clear: both;
  background-color: $lightest;
  font-weight: normal;
  overflow: auto;

  pre {
    font-size: emCalc(14px);
    font-weight: 100;
    line-height: 1.3em;
  }
}

iframe {
  border: none;
  width: 100%;
}

example {
}

/* Tabbed Form */
form {
  .section-container.tabs,
  .section-container[data-section="tabs"]{
    section,
    .section{
      div.content {
        padding-bottom: 0;
        code {
        }
      }

      p.title a {
        font-weight: bold;
        color: $medium-color;
        text-decoration: none;
      }

      &.active p.title a{
        color: $muted-color;
      }
    }
  }
}


/** Color Samples **/
$names: primary-color, bright-color, muted-color, positive-accent, negative-accent, lightest, neutral, mild, medium-color, dark, darkest, light-neutral, mid-neutral, medium-dark, darker;
$colors: $primary-color, $bright-color, $muted-color, $positive-accent, $negative-accent, $lightest, $neutral, $mild, $medium-color, $dark, $darkest, $light-neutral, $mid-neutral, $medium-dark, $darker;

@for $i from 0 to length($names) {
  $color: nth($colors, $i+1);
  $name: nth($names, $i+1);
  .fill_#{$name} {
    background-color: $color;
  }
}

/** Common Tweaks **/

input[type="checkbox"] {
 margin-right: 5px;
}

a.th {
  // fix overlapping images in IE9
  width: 100%;
}

// fix misaligned inline checkbox label
form label {
  margin-top: -1px;
}
