= content_for :header_1 do
  #title

= render 'investors/side_navigation', :active => 'investor_newsfeed'

#information
  %h4
    Your Investor Newsfeed
  %p
    Recent activity for your account and investments.
  %hr
    - unless @events.blank?
      - @events.each do |e|
        = render :partial => e.to_partial_path, :locals => {:event => e}
    - else
      %p
        There are no events to review here.