.copyright
  .row
    .col-sm-6.left-info
      %i All rights reserved by, AlumVest.com
    .col-sm-6.right-info
      = link_to :root do
        = image_tag("logo-footer.jpg", :alt => 'AlumVest', :title => 'AlumVest')