- flash.each do |type, message|
  .row
    .col-md-12.col-xs-12
      %div{:id => "flash_#{type}", :class => "alert-box flash #{type}"}
        = message
        = link_to "#", class: "close" do
          &times;
