%footer.footer
  .container
    - unless content_for?(:without_navigation) || (yield :without_navigation) == true
      .top-info
        .row
          .col-md-8
            = render 'layouts/footer_navigation'
          .col-md-4
            = render 'shared/follows'
            
    = render :partial => 'layouts/copyright' 
