%li{:style => 'opacity: 0.6'}= link_to "Stuff", "#"
%li{:style => 'opacity: 0.6'}= link_to "Other stuff", "#"
%li{:style => 'opacity: 0.6'}= link_to "More other stuff", "#"
%li{:style => 'opacity: 0.6'}= link_to "About Us", "#"