#login-modal.modal.fade
  .modal-dialog.modal-large
    .modal-content
      .modal-header
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
          &times;
        .h4
          Login
      .modal-body.modal-row.row
        .col-md-12
          = render "layouts/login_email"
          = render "layouts/auth_facebook_linkedin"
