#signup-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
          &times;
        .h4
          Sign up with...
      .modal-body
        %a{:href => "/auth/facebook", :class =>"btn btn-primary btn-block"} Facebook
        %a{:href => "/auth/linkedin", :class =>"btn btn-info btn-block"} LinkedIn
        %a{:href => new_identity_path, :class =>"btn btn-success btn-block"} Email