.container.privacy-block
  %h2 PRIVACY POLICY
  .privacy-text-block
    We recognize that your privacy is very important and take it seriously. This Privacy Policy describes Angelshares LLC’s (d/b/a AlumVest) (“we,” “us,” “our,” “AlumVest” or the “Company”) policies and procedures on the collection, use and disclosure of your information when you use services, websites and applications offered by AlumVest (the “Service”). We will not use or share your information with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources.

  %h3 Information Collection and Use
  .privacy-text-block
    AlumVest uses information we collect to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, remember information to help you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track User Content and users as necessary to comply with the Digital Millennium Copyright Act and other applicable laws. The Service may invite you to chat or participate in blogs, message boards, online forums and other functionality and may provide you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute or broadcast content to the Company and/or to or via the Service, including, without limitation, text, writings, photographs, graphics, comments, suggestions, intellectual property or personally identifiable information or other material (collectively “User Content”)
  .privacy-text-block
    User-Provided Information: You provide us information about yourself, such as your name and e-mail address and/or social media information, if you register for a member account with the Service. Your name and other information you choose to add to your profile will be available for public viewing on the Service. We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). You can control receipt of certain Service-related messages on your Settings page. We may also use your contact information to send you marketing messages. If you do not want to receive such messages, you may opt out by following the instructions in the message. If you correspond with us by email, we may retain the content of your email messages, your email address and our responses.
  .privacy-text-block
    You also provide us information in User Content you post to the Service. Your questions, answers, and other contributions on the Service, and metadata about them (such as when you posted them), are publicly viewable on the Service, along with your name (unless the Service permits you to post anonymously). This information may be searched by search engines and be republished elsewhere on the Web in accordance with our Terms and Conditions. [needs to be linked to our Terms of Use]
  .privacy-text-block
    If you choose to use our invitation service to invite a friend to the Service (when such service is implemented by us), we will ask you for that person's email address and automatically send an email invitation. We store this information to send this email, to register your friend if your invitation is accepted, and to track the success of our invitation service.
  .privacy-text-block
    %b Cookies
    \:
    When you visit the Service, we may send one or more “cookies” - small data files - to your computer to uniquely identify your browser and let us help you log in faster and enhance your navigation through the site. A cookie may convey anonymous information about how you browse the Service to us, but does not collect personal information about you. A persistent cookie remains on your computer after you close your browser so that it can be used by your browser on subsequent visits to the Service. Persistent cookies can be removed by following your web browser's directions. A session cookie is temporary and disappears after you close your browser. You can reset your web browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the Service may not function properly if the ability to accept cookies is disabled.
  .privacy-text-block
    %b Log Files
    \:
    Log file information is automatically reported by your browser each time you access a web page. When you use the Service, our servers automatically record certain information that your web browser sends whenever you visit any website. These server logs may include information such as your web request, Internet Protocol (“IP”) address, browser type, referring / exit pages and URLs, number of clicks, domain names, landing pages, pages viewed, and other such information.
  .privacy-text-block
    %b Clear GIFs Information
    \:
    When you use the Service, we may employ clear graphics interchange formats (“GIFs”) (also known as web beacons) which are used to track the online usage patterns of our users anonymously. No personally identifiable information from your AlumVest account is collected using these clear GIFs. In addition, we may also use clear GIFs in HTML-based emails sent to our users to track which emails are opened by recipients. The information is used to enable more accurate reporting and make AlumVest better for our users.
  .privacy-text-block
    %b Third Party Services
    \:
    AlumVest may use Google Analytics or Mixpanel to help understand use of the Service. Google Analytics and Mixpanel collect the information sent by your browser as part of a web page request, including cookies and your IP address. Google Analytics and Mixpanel also receive this information and their use of it is governed by their Privacy Policies.

  %h3 How We Share Your Information
  .privacy-text-block
    %b Personally Identifiable Information
    \:
    AlumVest may share your personally identifiable information with third parties for the purpose of providing the Service to you. If we do this, such third parties' use of your information will be bound by this Privacy Policy. We may store personal information in locations outside the direct control of AlumVest (for instance, on servers or databases co-located with hosting providers).
  .privacy-text-block
    As we develop our business, we may buy or sell assets or business offerings. Customer, email, and visitor information is generally one of the transferred business assets in these types of transactions. We may also transfer or assign such information in the course of corporate divestitures, mergers, or dissolution.
  .privacy-text-block
    We may share or disclose your information with your consent, such as if you choose to sign on to the Service through a third-party service. We cannot control third parties' use of your information.
  .privacy-text-block
    AlumVest may disclose your personal information if required to do so by law or subpoena or if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect AlumVest's rights or property.
  .privacy-text-block
    %b Non-Personally Identifiable Information
    \:
    We may share non-personally identifiable information (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.) with interested third parties to help them understand the usage patterns for certain AlumVest services.
  .privacy-text-block
    AlumVest may allow third-party ad servers or ad networks to serve advertisements on the Service. These third-party ad servers or ad networks use technology to send, directly to your browser, the advertisements and links that appear on AlumVest. They automatically receive your IP address when this happens. They may also use other technologies (such as cookies, JavaScript, or web beacons) to measure the effectiveness of their advertisements and to personalize the advertising content. AlumVest does not provide any personally identifiable information to these third-party ad servers or ad networks without your consent. However, please note that if an advertiser asks AlumVest to show an advertisement to a certain audience and you respond to that advertisement, the advertiser or ad server may conclude that you fit the description of the audience they are trying to reach. The AlumVest Privacy Policy does not apply to, and we cannot control the activities of, third-party advertisers. Please consult the respective privacy policies of such advertisers for more information.

  %h3 How We Protect Your Information
  .privacy-text-block
    AlumVest uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information. We cannot, however, ensure or warrant the security of any information you transmit to AlumVest or guarantee that your information on the Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.
  .privacy-text-block
    In the event that personal information is compromised as a result of a breach of security, AlumVest will promptly notify those persons whose personal information has been compromised, in accordance with the notification procedures set forth in this Privacy Policy, or as otherwise required by applicable law.

  %h3 Your Choices About Your Information
  .privacy-text-block
    You may, of course, decline to submit personally identifiable information through the Service, in which case AlumVest may not be able to provide certain services to you. You may update or correct your account information and email preferences at any time by logging in to your account.

  %h3 Children's Privacy
  .privacy-text-block
    Protecting the privacy of young children is especially important. AlumVest does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register with the Service. If we become aware that we have collected personal information from a child under age 13 without verification of parental consent, we take steps to remove that information.

  %h3 Links to Other Web Sites
  .privacy-text-block
    We are not responsible for the practices employed by websites linked to or from the Service, nor the information or content contained therein. Please remember that when you use a link to go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing and interaction on any other website, including those that have a link on our website, is subject to that website's own rules and policies.

  %h3 Changes to Our Privacy Policy
  .privacy-text-block
    If we change our privacy policies and procedures, we will post those changes on this page to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.
  .privacy-text-block
    If you have any questions about our practices or this privacy policy, please contact us at privacy@alumvest.com, or send mail to:

  .privacy-text-block
    %address
      %strong AlumVest
      %br
      Attn: Privacy
      %br
      500 7th Avenue, 17th Floor
      %br
      New York, NY 10018
      %br
      %b Effective Date
      %br
      This Privacy Policy was last updated on April 24, 2014.
